{% load static %}

<html lang="ja">

<head>
    {% include "../../base/__load__.html" %}
    {% include "../../base/__script__.html" %}
    <title>{% block title %}{% endblock %}</title>
    {% include "../../base/__style__.html" %}
    {% include "./_style.html" %}
</head>

<body class="home">
    <div id="app" data-browser="Chrome" data-is-loaded="true">
        <div id="app-body">
            {% include "../../base/__header__.html" %}
            {% include "./main.html" %}
        </div>
    </div>
    {% include "../../base/__footer__.html" %}

    {% include "./_script.html" %}
</body>

</html>
