{% load static %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
{#<script src="{'js/top-button.js'}"></script>#}

<script>
$(function() { // 보이기 | 숨기기
	$(window).scroll(function() {
    if ($(this).scrollTop() > 50) { //50 넘으면 버튼이 보여짐니다.
      $('#top-btn').fadeIn();
    } else {
      $('#top-btn').fadeOut();
    }
}); // 버튼 클릭시
 	$("#top-btn").click(function() {
  	$('html, body').animate({ scrollTop : 0 // 0 까지 animation 이동합니다.
  	}, 400); // 속도 400
  	return false;
	});
});
</script>

<script>
    var clickedElement = null;

    function toggleFontWeight(element) {
      if (clickedElement !== null && clickedElement !== element) {
        clickedElement.classList.remove("bold-text");
      }

      element.classList.toggle("bold-text");
      clickedElement = element;
    }

    document.addEventListener("click", function(event) {
      var target = event.target;

      if (!target.classList.contains("clickable-text")) {
        if (clickedElement !== null) {
          clickedElement.classList.remove("bold-text");
          clickedElement = null;
        }
      }
    });
    </script>

{#<script>#}
{#    #}
{#    $(document).ready(function () {#}
{#        $('#image-gallery').lightSlider({#}
{#            gallery: true,#}
{#            item: 1,#}
{#            thumbItem: 9,#}
{#            slideMargin: 0,#}
{#            speed: 900,#}
{#            auto: true,#}
{#            loop: true,#}
{#            onSliderLoad: function () {#}
{#                $('#image-gallery').removeClass('cS-hidden');#}
{#            }#}
{#        });#}
{#    });#}
{##}
{#</script>#}

<script>
const modal = document.querySelector('#que');

    function open_modal() {
        modal.style.display = 'block';
    }

    function modal_close() {
        modal.style.display = 'none';
    }
</script>

<script>
    let startDateString = "{{ campaign.started_on|date:'Y-m-d' }}T00:00:00";
    let endDateString = "{{ campaign.ends_on|date:'Y-m-d' }}T00:00:00";

    let startDate = new Date(startDateString);
    let endDate = new Date(endDateString);

    let currentDate = new Date();

    if (currentDate >= startDate && currentDate <= endDate) {
        document.getElementById("status").innerHTML = "진행중";
    } else {
        document.getElementById("status").innerHTML = "종료됨";
    }

</script>

<script>

function parseDateString(dateString) {
    return new Date(dateString);
}

function calculateDaysDifference(startDateIntoString) {
    let startedOn = parseDateString(startDateIntoString);
    let now = new Date();

    let timeDifference = now - startedOn;
    let daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

    return daysDifference;
}

function formatDuration(days) {
    if (days >= 365) {
        let years = Math.floor(days / 365);
        return `${years}년`;
    } else {
        return `${days}일`;
    }
}

let startDateIntoString = "{{ campaign.started_on|date:'Y-m-d' }}T00:00:00";
let resultElement = document.getElementById("howlong");

if (resultElement) {
    let daysActive = calculateDaysDifference(startDateIntoString);
    let formattedDuration = formatDuration(daysActive);
    resultElement.textContent = formattedDuration;
}

</script>

<script>
    const join = document.getElementById('hb_modal_area')
    const join_button = document.getElementById('join-campaign')
    const close_button = document.getElementById('hb_goback')

    join_button.addEventListener('click', () => {
    join.style.display = 'block';
    });

    close_button.addEventListener('click', () => {
    join.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
    if (event.target === join) {
        join.style.display = 'none';
        }
    });
</script>
