{% load static %}

<style>
@charset "UTF-8";

#app-body {
	opacity: 1;
	height: 100;
	position: relative;
	flex-flow: 1;
}

.profile-header {
	background-image: url(../../static/image/how-to-use.jpg);
	height: 8.5rem;
	margin-bottom: 4rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-left: -1.25rem;
	margin-right: -1.25rem;
}

.profile-header .backdrop {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(0.9375rem);
}

.backdrop{
    overflow: hidden;
    width: 1090px;
    height: 162px;
}

.container {
	background-color: #fff;
	max-width: 73.125rem;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.container>.row {
	padding: 0 6.25rem;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


.profile-section {
	max-width: 40.625rem;
	flex: 1 1 auto;
}

.no-gutters>[class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

.col-lg-auto {
	width: auto;
}

.col-12 {
	position: relative;
}

.profile-overview {
	padding-bottom: 3rem;
	width: 100%;
	position: relative;
}

.profile-overview .thumb {
	position: absolute;
	top: -9.5rem;
}

.profile-overview .thumb .user-profile-picture {
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 18px;
	overflow: hidden;
    width: 1098px;
    height: 150px;
}

.user-profile-picture {
	position: relative;
}

.profile-overview .thumb .user-profile-picture .is-square {
    border-radius: 18px;
    background-image: url(../../static/image/how-to-use.jpg);
}

.user-profile-picture div.is-square {
    padding: 0;
    height: 100%;
    object-fit: contain;
}

.user-profile-picture div {
    position: relative;
    width: 100%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

.profile-overview .info {
	overflow: hidden;
}

.profile-overview .info .info-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.profile-overview .info .info-section-header .nickname {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-overview .info .info-section-header .share-button {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=) no-repeat 50%/contain;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

button {
	text-transform: none;
	margin: 0;
    font-family: inherit;
}

.profile-overview .info .info-section-sub-header {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
}

.profile-overview .info .info-section-sub-header .category {
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline;
    margin-right: 0.5rem;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-overview .info .info-section-sub-header .address {
    position: relative;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #737373;
    font-size: .875rem;
    display: inline;
    padding-left: 1.4375rem;
}

.profile-overview .info .introduce {
    width: 37.5rem;
    color: #737373;
    font-size: 1rem;
    margin-top: 1.25rem;
}

.profile-overview .info .statistics-info {
    border-radius: 8px;
    display: flex;
    background-color: #fafafa;
    height: 5.5rem;
    margin-top: 1.625rem;
}

.profile-overview .info .statistics-info .statistics-info-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #323232;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-header {
    font-size: .875rem;
    display: flex;
    align-items: center;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents {
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#howlong{
    font-size: 1.25rem;
    font-weight: 700;
}

.profile-overview .thumb .user-profile-picture .is-square {
    border-radius: 18px;
    background-image: url(../image/campaign.jpeg);
}

.profile-overview .info .statistics-info .statistics-info-item.review-info {
    cursor: pointer;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-header.review-rate span[data-v-b77e0b70] {
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLjY2NyAxMmgxMlYwaC0xMnoiLz48cGF0aCBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNC44OSAyLjdsMy42IDMuNi0zLjYgMy42Ii8+PC9nPjwvc3ZnPg==);
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents>img {
    height: 1.25rem;
    display: block;
    margin-right: 0.25rem;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents .rate {
    margin-right: 0.125rem;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents .count {
    font-size: .75rem;
    color: #737373;
    height: 80%;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.profile-body .background-block {
    display: none;
}

.sticky-nav {
    margin: 0 -1.25rem;
    padding: 0 0 0 1.25rem;
    font-size: .75rem;
    position: sticky;
    top: 4.5rem;
    background-color: #fff;
    z-index: 2;
    border-bottom: 0.0625rem solid #f2f2f2;
    display: block;
}

ul li {
    list-style: none;
}

.sticky-nav>li {
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #737373;
}

.sticky-nav .active {
    border-bottom: 0.125rem solid #323232;
    font-weight: 700;
    color: #323232;
}

.sticky-nav>li+li {
    margin-left: 1.25rem;
}

.profile-body section {
    padding-bottom: 3.75rem;
    margin-bottom: 3.75rem;
    border-bottom: 0.0625rem solid rgba(0,0,0,.1);
}

.profile-body section>div {
    width: 100%;
    margin-top: 3.75rem;
}

.profile-body section:first-child>div:first-child {
    margin-top: 2.5rem;
}

.profile-provider-info .profile-provider-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.profile-provider-info .profile-provider-info-title h2 {
    margin-bottom: 0;
}

.profile-provider-info .profile-provider-info-title button {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #b5b5b5;
}

.profile-provider-info>ul {
    margin-bottom: 0;
}

.profile-provider-info>ul>li {
    position: relative;
    line-height: 1.5rem;
    letter-spacing: -.01875rem;
    color: #737373;
    text-indent: 1.875rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
}

.profile-provider-info>ul>li:before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 0;
    top: 0.125rem;
}

.profile-provider-info>ul>li.business-size:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAyMGgyMFYwSDB6Ii8+PHBhdGggZD0iTTIuMzY3IDE2LjQ5M3YtLjg0YTQuMjE3IDQuMjE3IDAgMDE0LjIxNy00LjIxN2gyLjk0NGE0LjIxNyA0LjIxNyAwIDAxNC4yMTcgNC4yMTd2Ljg0bS0zLjE2LTEwLjI5NWEyLjUyOSAyLjUyOSAwIDExLTUuMDU4LS4wMDEgMi41MjkgMi41MjkgMCAwMTUuMDU4IDB6bTcuOTM1IDguNzU5di0uNTg0YTIuOTM4IDIuOTM4IDAgMDAtMi45MzYtMi45MzhoLTEuMDI2bTEuNzE2LTQuNDdhMS43NjEgMS43NjEgMCAxMS0zLjUyMiAwIDEuNzYxIDEuNzYxIDAgMDEzLjUyMiAweiIgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjwvZz48L3N2Zz4=);
}

.profile-service-desc.collapsed .description {
    overflow: hidden;
    max-height: 25rem;
}

.profile-body section>div h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.03125rem;
    margin-bottom: 1rem;
    color: #323232;
}

.profile-service-desc .description {
    position: relative;
    font-size: 1rem;
    color: #737373;
    letter-spacing: -.0125rem;
    line-height: 1.5rem;
}

.profile-service-desc .description .gradient {
    display: none;
}

.header {
    display: flex;
    align-items: center;
}

img {
    vertical-align: middle;
}

.header img {
	width: 1rem;
	height: 1rem;
	object-fit: contain;
}

.header .title {
    font-weight: 700;
    font-size: 1rem;
    color: #7149C6;
    line-height: normal;
    margin: 0 0 0 0.5rem;
}


.profile-career .profile-career-item-wrap {
    margin-top: 1rem;
}

.career-list-item:first-of-type {
    margin-top: 0;
}

.career-list-item {
    display: flex;
    flex-direction: row;
}

.career-list-item .contents {
    flex: 0 1 100%;
}

.career-list-item .contents .header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
}

.career-list-item .contents .date-info {
    font-size: .75rem;
    color: #737373;
}

.career-list-item .contents div {
    margin: 0.25rem 0 0;
}

.profile-qna ul {
    display: inline-block;
    width: 100%;
    margin-bottom: -1.875rem;
}

.profile-qna ul li {
    position: relative;
    float: left;
    margin-bottom: 1.875rem;
    width: 100%;
}

.profile-qna ul li .question {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #323232;
    margin-bottom: 0.25rem;
}

.collapsed-text-line {
    position: relative;
    font-size: 0;
}

.collapsed-text-line div.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.profile-qna ul li .answer .wrapper p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #737373;
    word-break: break-all;
    margin: 0;
}

.profile-qna ul li .collapsed-text-line .collapse-button {
    position: relative;
    text-align: right;
    margin-top: 0.25rem;
}

.collapsed-text-line div.collapse-button {
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 20%);
    margin: 0;
}

.collapsed-text-line div.collapse-button span {
    color: #3E72F5;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.0125rem;
}

.collapsed-text-line div.collapse-button span {
    color: #3E72F5;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.0125rem;
}

div.view-more-button span.button {
    color: #3E72F5;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.0125rem;
}

[role=button] {
    cursor: pointer;
}

.profile-knowhow .profile-knowhow-item-wrap {
    margin: 0 -0.375rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.profile-knowhow .profile-knowhow-item-wrap {
    margin: 0 -0.375rem;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.profile-knowhow .profile-knowhow-item-wrap li {
    padding: 0 0.375rem;
    margin-bottom: 1.25rem;
}

.profile-knowhow-image {
    width: 100%;
    padding-bottom: 66.7%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 0.0625rem solid #f2f2f2;
}

.profile-knowhow-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
}

.profile-knowhow-service {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    font-size: .875rem;
    color: #737373;
}

.profile-knowhow-title {
    margin: 0.25rem 0 0;
    max-height: 3rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile-knowhow-title h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    word-break: break-word;
}

a.top-btn {
	bottom: 6rem;
	position: fixed;
    z-index: 50;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0,0,0,.2);
    width: 3rem;
    height: 3rem;
    background: #3E72F5;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.top-btn img {
	transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
article.community-feed-list {
  padding: 0 0 5rem;
  display: block;
}

ul,li {
  list-style: none;
}

ul.feed-list {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li.feed-item {
  padding: 1.25rem .5rem;
  border-bottom: .0625rem solid #f4f4f4;
  cursor: pointer;

}

a {
  text-decoration: none;
  color: #323232;
  background-color: transparent;
}

p {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}

p.feed-category {
  margin-bottom: .5rem;
  --tw-text-opacity: 1;
  color: rgba(136,136,136,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

div.feed-content {
  margin-bottom: .75rem;
  display: flex;

}

.feed-content>div {
  flex: 1;
  padding-right: 1rem;
}

section.item-wrapper {
  display: block;
}

h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3.review-name {
  display: -webkit-box;
  max-height: 1.57em;
  line-height: 1.57;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  margin-bottom: .25rem;
  --tw-text-opacity: 1;
  color: rgba(45,45,45,var(--tw-text-opacity));
  font-size: 14px;
  letter-spacing: -.3px;
  margin-top: 15px;
}

p.feed-content {
  display: -webkit-box;
  max-height: 3.14em;
  line-height: 1.57;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.625rem;
  --tw-text-opacity: 1;
  color: rgba(136,136,136,var(--tw-text-opacity));
  font-size: 14px;
  line-height: 1.57142857;
  letter-spacing: -.3px;
  font-weight: 400;
}
.feed-content>img {
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    border: 0.0625rem solid #f4f4f4;

}

p.feed-location {
  margin-bottom: 0px;
  --tw-text-opacity: 1;
  color: rgba(136,136,136,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

div.feed-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.user-reaction {
  display: inherit;
}


span.user-like {
  --tw-text-opacity: 1;
  color: rgba(197,197,197,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

span.user-like::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDYuMjkzVjMuNzZjMC0xLjA1LS44MjYtMS45LTEuODQ0LTEuOWwtMi40NiA1Ljd2Ni45NjZoNi45MzZhMS4yNDEgMS4yNDEgMCAwMDEuMjMtMS4wNzZsLjg0OS01LjdhMS4yOTMgMS4yOTMgMCAwMC0uMjg4LTEuMDIyIDEuMjE1IDEuMjE1IDAgMDAtLjk0Mi0uNDM1aC0zLjQ4ek0zLjkzIDE0LjUyNkgyLjU2M2MtLjY3OSAwLTEuMjMtLjU2Ny0xLjIzLTEuMjY2VjguODI2YzAtLjcuNTUxLTEuMjY2IDEuMjMtMS4yNjZIMy45M3Y2Ljk2NnoiIGZpbGw9IiNDNUM1QzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") 0px center no-repeat;
  padding-right: 1.25rem;
  box-sizing: border-box;
}

span.user-comment {
  --tw-text-opacity: 1;
  color: rgba(197,197,197,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

span.user-comment::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNjgyIDEuODZhNC45ODUgNC45ODUgMCAwMTQuOTg1IDQuOTg1djEuMzYzYzAgMS45MS0xLjA3NiAzLjU3LTIuNjU0IDQuNDA3djEuOTEyYS42NjcuNjY3IDAgMDEtLjk4Mi41ODdsLS4wNzEtLjA0NC0yLjYzNi0xLjg3N0g2LjMxOGE0Ljk4NSA0Ljk4NSAwIDAxLTQuOTg1LTQuOTg1VjYuODQ1QTQuOTg1IDQuOTg1IDAgMDE2LjMxOCAxLjg2aDMuMzY0em0tNC44NDkgNWEuODMzLjgzMyAwIDEwMCAxLjY2Ni44MzMuODMzIDAgMDAwLTEuNjY2em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjYuODMzLjgzMyAwIDAwMC0xLjY2NnptMyAwYS44MzMuODMzIDAgMTAwIDEuNjY2LjgzMy44MzMgMCAwMDAtMS42NjZ6IiBmaWxsPSIjQzVDNUM1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") 0px center no-repeat;
  padding-right: 1.25rem;
  margin-left: 0.75rem;
  box-sizing: border-box;
}

span.content-time {
  --tw-text-opacity: 1;
  color: rgba(197,197,197,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

#reply {
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* opacity: 0; */
  min-height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: left;
  background-color: #fff;
}




div.post-react-state {
  display: flex;
  align-items: center;
  width: 100%;


}

div.post-react-item-like {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.25rem .25rem;
  margin-right: 1.25rem;
  color: #888;
}
div.post-react-item-like:before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDUuNzY3VjMuMjMzYzAtMS4wNDktLjgyNi0xLjktMS44NDQtMS45bC0yLjQ2IDUuN1YxNGg2LjkzNmExLjI0MSAxLjI0MSAwIDAwMS4yMy0xLjA3N2wuODQ5LTUuN2ExLjI5MyAxLjI5MyAwIDAwLS4yODgtMS4wMjEgMS4yMTUgMS4yMTUgMCAwMC0uOTQyLS40MzVoLTMuNDh6TTMuOTMgMTRIMi41NjNjLS42NzkgMC0xLjIzLS41NjctMS4yMy0xLjI2N1Y4LjNjMC0uNy41NTEtMS4yNjcgMS4yMy0xLjI2N0gzLjkzVjE0eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat;
}

span.text-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;

}

div.post-react-item-reply {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.25rem;
  margin-right: 1.25rem;
  color: #888;

}
div.post-react-item-reply:before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNjgyIDEuMzMzYTQuOTg1IDQuOTg1IDAgMDE0Ljk4NSA0Ljk4NXYxLjM2NGMwIDEuOTEtMS4wNzYgMy41Ny0yLjY1NCA0LjQwN1YxNGEuNjY3LjY2NyAwIDAxLS45ODIuNTg4bC0uMDcxLS4wNDUtMi42MzYtMS44NzZINi4zMThhNC45ODUgNC45ODUgMCAwMS00Ljk4NS00Ljk4NVY2LjMxOGE0Ljk4NSA0Ljk4NSAwIDAxNC45ODUtNC45ODVoMy4zNjR6bS00Ljg0OSA1YS44MzMuODMzIDAgMTAwIDEuNjY3LjgzMy44MzMgMCAwMDAtMS42Njd6bTMgMGEuODMzLjgzMyAwIDEwMCAxLjY2Ny44MzMuODMzIDAgMDAwLTEuNjY3em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjcuODMzLjgzMyAwIDAwMC0xLjY2N3oiIGZpbGw9IiM4ODgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat;
}


hr.crosss-line {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
  border: 0;
  margin: 0;
  border-bottom: 0.0625rem solid #f4f4f4;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

div.reply-content-wrap {
  margin-bottom: 10rem;
  position: relative;
  width: 100%;
}

div.reply-input-wrap {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 1.25rem 0;
  padding: 1.0625rem 0.875rem;
  border-radius: 8px;
  border: 0.0625rem solid #f2f2f2;
  background-color: #fff;
}

label.attach-file-label {
  width: 1.25rem;
  height: 1.25rem;
  margin: .0625rem .875rem 0 0;
  display: inline-block;
}

div.file-input {
position: relative;
width: 100%;
height: calc(1.5em + 1.5rem);
}

input.custom-file-input {
  z-index: 2;
  margin: 0;
  opacity: 0;
  position: relative;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label.custom-file-label {
  white-space: nowrap;
  overflow-x: hidden;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6875rem 1rem;
  line-height: 1.5;
  color: #323232;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 1.5rem);
  font-weight: 400;
  background-color: #fff;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

span.d-block-form-file-text {
  display: block!important;

}

div.comment-body {
  width: 100%;
  position: relative;
}

textarea.comment-input-form-control {
  width: 100%;
  min-height: 1.375rem;
  padding: 0;
  border: 0;
  font-size: .875rem;
  color: #2d2d2d;
  resize: none;

  display: block;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  letter-spacing: -.3px;
}

div.write-comment-submit {
  margin-bottom: auto;
  display: none;
  white-space: nowrap;
  color: #004DF7;
  font-size: 14px;
  line-height: 1.14285714;
  font-weight: 500;
}


ul.campaign-comment-list {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li.campaign-comment-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: -webkit-match-parent;

}

div.campaign-comment-wrapper{
  display: flex;
  padding: 1.5rem;
}

div.profile-image-provider {
  cursor: pointer;
}

img.image {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  border: 0.0625rem solid #f2f2f2;
  box-sizing: content-box;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}

div.comment-infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
}


div.user-info-provider {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem
}

div.user-info {
  display: flex;
  align-items: center;
}

span.user-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.375rem;
  --tw-text-opacity: 1;
  color: rgba(45,45,45,var(--tw-text-opacity));
  font-size: 14px;
  line-height: 1.57142857;
  letter-spacing: -.3px;
  font-weight: 700;
}
span.user-address {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
  display: inline-block;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgba(136,136,136,var(--tw-text-opacity));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;
}

div.reply-content {
  color: #323232;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p.text-content {
  margin: 0;
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.57142857;
  letter-spacing: -.3px;
  font-weight: 400;
}

div.comment-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .9375rem;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;

}
div.comment-react {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -.2px;
  font-weight: 400;

}

span.active-time {
  color: #b5b5b5;
}
span.divider-dot {
  margin: 0 0.5rem;
  color: #b5b5b5;
}
div.like-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}
div.like-area::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDYuMjkzVjMuNzZjMC0xLjA1LS44MjYtMS45LTEuODQ0LTEuOWwtMi40NiA1Ljd2Ni45NjZoNi45MzZhMS4yNDEgMS4yNDEgMCAwMDEuMjMtMS4wNzZsLjg0OS01LjdhMS4yOTMgMS4yOTMgMCAwMC0uMjg4LTEuMDIyIDEuMjE1IDEuMjE1IDAgMDAtLjk0Mi0uNDM1aC0zLjQ4ek0zLjkzIDE0LjUyNkgyLjU2M2MtLjY3OSAwLTEuMjMtLjU2Ny0xLjIzLTEuMjY2VjguODI2YzAtLjcuNTUxLTEuMjY2IDEuMjMtMS4yNjZIMy45M3Y2Ljk2NnoiIGZpbGw9IiNDNUM1QzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat;
}

span.like-text {
  color: #b5b5b5;
}

span.reply-text {
  color: #b5b5b5;
  cursor: pointer;
}

div.infinite-status-prompt {
  display: none;
}

{#modal#}
#__BVID__1141___BV_modal_outer_{
    position: absolute; z-index: 1040;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
    display: block;
    /* padding-left: 21px; */
    padding-left: 0!important;
    transition: opacity .15s linear;
    background-color: rgba(76, 76, 76, 0.7);
}

.modal-dialog {
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    transform: none;
    transition: transform .3s ease-out;
    margin: auto;
    max-width: 26.25rem;
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
}

.modal-content {
    border-radius: 0;
    border: none;
    background-clip: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
}

.modal-header {
    padding: 1.75rem 1.75rem 0.5625rem;
    border-radius: 0;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.01875rem;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 1.125rem;
    padding-top: 0.875rem;
}

.close {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: #a9a9a9;
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTUuOTM1IDQuOTI5YS43NS43NSAwIDAwLTEuMDYxIDEuMDZMMTAuODg0IDEybC02LjAxIDYuMDFhLjc1Ljc1IDAgMTAxLjA2IDEuMDYxbDYuMDExLTYuMDEgNi4wMSA2LjAxYS43NS43NSAwIDAwMS4wNjEtMS4wNkwxMy4wMDYgMTJsNi4wMS02LjAxYS43NS43NSAwIDAwLTEuMDYtMS4wNjFsLTYuMDExIDYuMDEtNi4wMS02LjAxeiIgZmlsbD0iIzAwMCIvPjwvZz48L3N2Zz4=);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTUuOTM1IDQuOTI5YS43NS43NSAwIDAwLTEuMDYxIDEuMDZMMTAuODg0IDEybC02LjAxIDYuMDFhLjc1Ljc1IDAgMTAxLjA2IDEuMDYxbDYuMDExLTYuMDEgNi4wMSA2LjAxYS43NS43NSAwIDAwMS4wNjEtMS4wNkwxMy4wMDYgMTJsNi4wMS02LjAxYS43NS43NSAwIDAwLTEuMDYtMS4wNjFsLTYuMDExIDYuMDEtNi4wMS02LjAxeiIgZmlsbD0iIzAwMCIvPjwvZz48L3N2Zz4=);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}
.close:hover{
background-color: #323232;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
}

.modal-ul {
    margin: 0 0 1.75rem;
    padding: 0;
    font-size: 0;
    border-top: 0.0625rem solid #f2f2f2;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

.modal-selected {
    color: #004DF7;
}

.modal-li {
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width: 90%;
    height: 2.875rem;
    line-height: 2.875rem;
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    font-size: .875rem;
    letter-spacing: -.025rem;
    font-weight: 400;
    color: #323232;
}

.bottom-border {
    background: #f2f2f2;
    position: absolute;
    height: 0.0625rem;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

.modal-list-activate {
    background-color: #f2f2f2;
}

.indicator-body {
    border-radius: 50%;
    animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
    margin: 0 auto;
}

.loading-indicator p {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

ul li.parent:after {
    content: "";
    position: absolute;
    background-image: url(https://assets.cdn.soomgo.com/assets/images/ic-chevron-left-copy-3.png?webp=1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 0.875rem;
    height: 0.875rem;
    top: 1.125rem;
    right: 1rem;
}


ul li:not(.disabled).modal-selected:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgMTEuNjUybDQuODgzIDQuNjk2TDE4LjU2NSA4Ii8+PC9zdmc+); */
    background-image: url(./check-icon.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    top: 0.9rem;
    right: 0.4rem;
    /* top: 0.6875rem;
    right: 1rem; */
    /* filter: invert(32%) sepia(92%) saturate(6875%) hue-rotate(221deg) brightness(94%) contrast(108%); */
}

 .level0, .level1, .level2, .level3, .level4 {
    display: none;
}

.level0:hover, .level1:hover, .level2:hover, .level3:hover, .level4:hover {
    background-color: #f2f2f2;
}
{#aside#}
div.aside-section-col {
  padding-left: 2.5rem;
  max-width: 40rem;
  flex: 1 1 auto;
  padding-right: 0;
  width: 200px;
}


aside {
  display: block;
  width: 100px;
}

aside.campaign-join {
  position: sticky;
  top: 6.5rem;
  padding: 1.25rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 12px;
  width: 270px;
    margin-top: 45px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


p.target-request-banner {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.63;
  letter-spacing: -.01875rem;
  color: #323232;
  margin-bottom: 1rem;
  word-break: break-word;
}
@media (min-width: 992px){
  .sticky-btn-group {
      padding: 0;
  }}

  .sticky-btn-group {
      display: flex;
      padding: 0;
      background: #fff;
  }

  @media (min-width: 992px){
  .btn-qna2 {
      width: 5.125rem !important;
      border-radius: 8px !important;
      font-size: 1.125rem !important;
  }}

  .btn-qna2 {
      width: 4.25rem;
      margin-right: 0.5rem;
      border: 0.0625rem solid #e1e1e1 !important;
      color: #737373;
      height: 3.5rem;
      font-size: 1rem;
      border-radius: 0;
  }

  .btn-buy, .btn-buy:active, .btn-buy:focus {
      border-color: #3E72F5;
      background: #3E72F5;
      color: #fff;
  }

  .btn-buy {
      flex: 1;
      border-radius: 6px;
  }
  @media (min-width: 992px){
  .btn-buy {
      border-radius: 8px;
  }}

  @media (min-width: 992px){
  .buy-button button {
      border-radius: 8px !important;
      font-size: 1.125rem;
  }
  }
  .buy-button button {
      height: 3.5rem;
      font-size: 1rem;
      border-radius: 0;
  }




 /* div.button-wrapper {
  display: flex;
  gap: 0.375rem;

}

 button.small-grey-heart {
  width: 3rem;
  background-color: #737373;
  border: 0.0625rem solid #737373;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .2s ease-in-out;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.6875rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  overflow: visible;
  text-transform: none;
  margin: 0;
  font-family: inherit;
}

 img.heart {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

button.campaign-join-button {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .2s ease-in-out;
  color: #fff;
  background-color: #3E72F5;
  border-color: #3E72F5;
} */

/* 문의 */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  padding-left: 0 !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fade {
  transition: opacity .15s linear;
}

.modal .modal-dialog.modal-dialog-centered {
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
}


.modal.show .modal-dialog {
  transform: none;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
}

.modal .modal-dialog {
  margin: auto;
  max-width: 26.25rem;
}

.modal-dialog-centered.modal-dialog-scrollable {
  height: 100%;
}



@media (min-width: 576px) {
  .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
  }
}


.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal .modal-content,
.modal .modal-header {
  border-radius: 0;
  border: none;
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid rgba(0, 0, 0, .2);
  border-radius: 0.3rem;
  outline: 0;
}

@media (min-width: 992px) {
  .question-register-modal .modal-header {
      padding: 1.5rem !important;
  }
}

.question-register-modal .modal-header {
  padding: 1rem;
  border-bottom: 0.0625rem solid #f4f4f4 !important;
}

.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  flex-shrink: 0;
}

/* .modal .modal-header {
  padding: 1.75rem 1.75rem 0;
} */

.modal .modal-content,
.modal .modal-header {
  border-radius: 0;
  border: none;
}

.question-register-modal .modal-header .modal-title {
  flex: 1;
  margin: 0;
  font-size: 1.125rem;
  color: #2d2d2d;
  text-align: center;
  padding-left: 1.125rem;
}

.modal .modal-header .modal-title {
  /* font-size: 1.5rem; */
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.0313rem;
  /* margin-top: 1.875rem; */
}

.modal .modal-header button.close {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #323232;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTUuOTM1IDQuOTI5YS43NS43NSAwIDAwLTEuMDYxIDEuMDZMMTAuODg0IDEybC02LjAxIDYuMDFhLjc1Ljc1IDAgMTAxLjA2IDEuMDYxbDYuMDExLTYuMDEgNi4wMSA2LjAxYS43NS43NSAwIDAwMS4wNjEtMS4wNkwxMy4wMDYgMTJsNi4wMS02LjAxYS43NS43NSAwIDAwLTEuMDYtMS4wNjFsLTYuMDExIDYuMDEtNi4wMS02LjAxeiIgZmlsbD0iIzAwMCIvPjwvZz48L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTUuOTM1IDQuOTI5YS43NS43NSAwIDAwLTEuMDYxIDEuMDZMMTAuODg0IDEybC02LjAxIDYuMDFhLjc1Ljc1IDAgMTAxLjA2IDEuMDYxbDYuMDExLTYuMDEgNi4wMSA2LjAxYS43NS43NSAwIDAwMS4wNjEtMS4wNkwxMy4wMDYgMTJsNi4wMS02LjAxYS43NS43NSAwIDAwLTEuMDYtMS4wNjFsLTYuMDExIDYuMDEtNi4wMS02LjAxeiIgZmlsbD0iIzAwMCIvPjwvZz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.question-register-modal .modal-header .close {
  -ms-grid-row-align: center;
  align-self: center;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .question-register-modal .modal-body {
      padding-bottom: 4rem !important;
  }
}

.question-register-modal .modal-body {
  padding-top: 0;
  padding-bottom: 2.5rem;
}

.modal .modal-body {
  padding: 1.75rem;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-body .titl {
  font-weight: 500;
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}


/* 맨 위로 버튼 */

a.top-btn {
	bottom: 6rem;
	position: fixed;
    z-index: 50;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0,0,0,.2);
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.top-btn img {
	transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.intro-img{
    border-style: none;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories{
    display: flex;
    margin-bottom: 10px;
}

.review-writer{
    width: 150px;
}

.review-written-on{
    text-align: right;
    margin-left: 500px;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.2px;
    font-weight: 400;
}

#hb_modal_area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-box-pack: center;
    justify-content: center !important;
    -webkit-box-align: center;
    align-items: center !important;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
}

:root, html[data-theme=light] {
    --theme-palette-colors-pink-400: #f348a3;
    --theme-palette-colors-gray-900: #333;
    --theme-palette-colors-black-100: #000;
    --theme-palette-colors-bluegray-200: #e1e2e3;
    --theme-palette-colors-gray-700: #767676;
    --theme-palette-colors-blue-800: #002fdb;
    --theme-palette-colors-gray-600: #888;
    --theme-palette-colors-gray-800: #666;
    --theme-palette-colors-purple-400: #8958fa;
    --theme-palette-colors-gray-300: #ccc;
    --theme-palette-colors-green-400: #08ba9c;
    --theme-palette-colors-blue-400: #36f;
    --theme-palette-colors-gray-200: #ececec;
    --theme-palette-colors-red-400: #fe415c;
    --theme-palette-colors-gray-500: #939393;
    --theme-palette-colors-gray-400: #aaa;
    --theme-palette-colors-pastel-lime-50: #f6f8ee;
    --theme-palette-colors-pastel-purple-50: #f7f2f9;
    --theme-palette-colors-pastel-blue-50: #eff1fb;
    --theme-palette-colors-pastel-lightblue-50: #f3f9fe;
    --theme-palette-colors-pastel-cyan-50: #eefaf9;
    --theme-palette-colors-pastel-green-100: #e4f4ec;
    --theme-palette-colors-bluegray-100: #f2f4f7;
    --theme-palette-colors-pastel-green-50: #f2fbf5;
    --theme-palette-colors-base-bg: #f7f7f7;
    --theme-palette-colors-white-100: #fff;
    --theme-palette-colors-pastel-indigo-50: #f3f2fb;
    --theme-palette-colors-gray-100: #f8f8f8;
    --theme-palette-colors-elevated-bg: #fff;
    --theme-palette-colors-contents-bg: #fff;
    --theme-palette-colors-common-white: #fff;
    --theme-palette-colors-orange-400: #ff9100;
    --theme-palette-colors-blue-invert: #4d7dff;
    --theme-palette-colors-dimmer: rgba(0,0,0,.5);
    --theme-palette-colors-blue-600: #2658f6;
}

.hb_modal{
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    margin-top: 262px;
    margin-left: 567px;
    border-radius: 8px;
    background-color: var(--theme-palette-colors-contents-bg);
}

.hb_content1 p, .hb_content2 p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.hb_upper-text{
    padding-top: 20px;
    padding-right: 3px;
}

.hb_bottom-text{
    padding-top: 10px
}

.hb_firework{
    width: 40px;
    height: 40px;
}

.hb_modal_button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.hb_back{
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-contents-bg);
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    width: auto;
    padding: 0px 32px;
    margin-left: 8px;

}

.hb_button-text{
    color: var(--theme-palette-colors-black-100);
    {#font-weight: var(--text-weight-body-bold);#}
    text-align: left;
    {#letter-spacing: var(--text-spacing-body);#}
    {#font-size: var(--text-size-body);#}
    {#line-height: var(--text-height-body);#}
}

.hb_more{
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-blue-400);
    border: none;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    margin-left: 8px;
}

.hb_more span{
    color: var(--theme-palette-colors-common-white);
}


.hb_padding{
    width: 10px;
}

</style>