<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    const select = document.getElementById('select');
    const modal = document.getElementsByClassName('modal')[0];
    const $list_modal = $(".parent");
    const cityName = document.querySelector('.btn-area-filter');
    let type = 0;
    select.addEventListener('click', function () {
        open_modal();
    })

    function open_modal() {
        modal.style.display = 'block';
    }

    function all_check(num) {
        page = 0;
        modal_close();

        let allCitySpan = allCity.querySelector('span');
        allCitySpan.style.color = '#004DF7';
        allCity.classList.add('modal-selected');
        let name = num === 0 ? '지역선택' : allCitySpan.innerText;

        change_name(name);

        let color = num === 0 ? '#737373' : 'black';
        cityName.style.color = color;
    }

    function modal_close() {
        modal.style.display = 'none';
        list_clear();

        //리스트 색상 초기화
        $list_modal.each((i, list_li) => {
            let $list_li = $(list_li);
            $list_modal.removeClass("modal-list-activate");
        });
    }

    const liList = document.querySelectorAll('.parent');

    function list_open() {
        for (let i = 0; i < liList.length; i++) {
            let id = '.level' + String(i);
            let obj = document.querySelectorAll(id);
            liList[i].addEventListener("click", function (e) {
                obj.forEach((item) => {
                    if (item.style.display === "none" || item.style.display === "") {
                        item.addEventListener("click", function (e) {
                            let detailCheck = document.querySelectorAll('.modal-selected');

                            detailCheck.forEach((item) => {
                                item.classList.remove('modal-selected');
                                item.querySelector('span').style.color = '#323232';
                            });
                            html = '';
                            page = 0;
                            change_name(item.innerText);
                            item.style.color = '#004DF7';
                            item.classList.add('modal-selected');

                        });
                        item.style.display = "block";
                    } else {
                        item.style.display = "none";
                    }
                });
            });
        }
    }
</script>
<script>
    function list_clear() {
        for (let i = 0; i < liList.length; i++) {
            let id = '.level' + String(i);
            let obj = document.querySelectorAll(id);
            obj.forEach((item) => {
                item.style.display = "none";
            });
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        list_open();
    });

    //지역 이름 변경
    function change_name(name) {
        cityName.innerText = name;

        {#let img = new Image();#}
        {#img.src = imgSrc;#}
        {#cityName.appendChild(img);#}

        cityName.style.color = 'black';
        modal.style.display = 'none';

        fetch_data(name);

    }

    //모달 - 목록 이벤트
    $list_modal.each((i, list_li) => {
        let $list_li = $(list_li);

        $list_li.on("click", () => {
            $list_modal.removeClass("modal-list-activate");
            $list_li.addClass("modal-list-activate");
        })
    });
</script>

<script>
    async function getListInit() {
        const response = await fetch("/campaign/api/list");
        const datas = await response.json();
        return datas;
    }

    getListInit().then(appendInit)

    function appendInit(datas) {
        let context = document.getElementById('here');
        let html = ``;
        const {regions, all_campaigns} = datas;
        console.log(regions)
        console.log("=====")
        console.log(all_campaigns);
        all_campaigns.forEach((campaign, i) => {
            const title = regions[i].city_name;
            const datas = campaign;

            html += `
            
            
            <article class="campaign-list-curation">
                                <header class="content-title">
                                    <h3 class="content-title">${title}</h3>
                                </header>
                                <section class="campaign-content" style="height: 280px;">
                                    <div class="campaign-content-1">
                                        <div class="campaign-content-2">
                                            <div class="campaign-content-3">
                                                <div class="campaign-content-4">
                                                    <div class="campaign-content-5" style="width: 988px;">`;
            datas.forEach(data => {
                console.log(333333333333333333);

                console.log(data);
                let title = data.title;
                let description1 = data.description1;
                let description2 = data.description2;
                let description3 = data.description3;
                let img = data.url;

                html += `<div class="campaign-content-box" tabindex="-1" data-index="0" aria-hidden="false" style="outline: none; width: 245px;">
                                                                <div>
                                                                    <article class="campaign-list-box" tabindex="-1" style="width: 100%; display: inline-block;">
                                                                        <a class="" data-testid="campaign-list-item" href="/campaign/detail/${data.id}/">
                                                                            <div class="item-image">
                                                                                <article class="preview-image">
                                                                                    <div class="preview-image-wrap" style="padding-top: 66.6667%;">
                                                                                        <img src="${img}" lazy="loaded" class="preview-image">
                                                                                    </div>
                                                                                </article>
                                                                            </div>
                                                                            <div class="campaign-team-name">
                                                                                <strong class="campaign-team-name">${title}</strong>
                                                                            </div>
                                                                            <div class="campaign-category">
                                                                                <span>${description1}</span>
                                                                            </div>
                                                                            <div class="campaign-title">
                                                                                <div>
                                                                                    <div class="line-clamp" style="line-height: 1.5; max-height: 3rem; -webkit-line-clamp: 2;">
                                                                                        <h3 class="content-infomation">
                                                                                            [ ${description2}
                                                                            ]
                                                                            ${description3}
                                                                                        </h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </article>
                                                                </div>
                                                            </div>`
            })
            html+=`      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </article>`
            context.innerHTML = html;
        })

    }

    function selectCategory(link) {
        let dataValue = link.getAttribute('data-value');
        if (dataValue === '지역순찰') {
            type = 0;
            console.log(type);
        } else if (dataValue === '미화') {
            type = 1;
            console.log(type);
        } else if (dataValue === '봉사활동') {
            type = 2;
            console.log(type);
        } else if (dataValue === '캠페인') {
            type = 3;
            console.log(type);
        }
        let area = cityName.innerText
        console.log(area);
        fetch_data(area);
    }

    // CSRF 토큰 가져오기
    function fetch_data(name) {

        fetch('/campaign/api/list', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name: name, type: type}) // 요청 데이터 추가
        })
            .then(response => response.json())
            .then(datas => {
                append(datas);
            })
            .catch(error => {
                console.error('Error:', error);
            });

    }

    function append(datas) {
        let categories = ['지역순찰', '미화', '봉사활동', '캠페인']
        let context = document.getElementById('here')
        let html = `<article class="campaign-list-curation">
                                <header class="content-title">
                                    <h3 class="content-title">${categories[type]}</h3>
                                </header>
                                <section class="campaign-content" style="height: 280px;">
                                    <div class="campaign-content-1">
                                        <div class="campaign-content-2">
                                            <div class="campaign-content-3">
                                                <div class="campaign-content-4">
                                                    <div class="campaign-content-5" style="width: 988px;">`;
        datas.forEach(data => {
            let title = data.campaign_title;
            let description1 = data.campaign_description1;
            let description2 = data.campaign_description2;
            let description3 = data.campaign_description3;
            let img = data.campaign_image;
            html += `
            <div class="campaign-content-box" tabindex="-1" data-index="0" aria-hidden="false" style="outline: none; width: 245px;">
                                                                <div>
                                                                    <article class="campaign-list-box" tabindex="-1" style="width: 100%; display: inline-block;">
                                                                        <a class="" data-testid="campaign-list-item" href="/campaign/detail/${data.id}/">
                                                                            <div class="item-image">
                                                                                <article class="preview-image">
                                                                                    <div class="preview-image-wrap" style="padding-top: 66.6667%;">
                                                                                        <img src="${img}" lazy="loaded" class="preview-image">
                                                                                    </div>
                                                                                </article>
                                                                            </div>
                                                                            <div class="campaign-team-name">
                                                                                <strong class="campaign-team-name">${title}</strong>
                                                                            </div>
                                                                            <div class="campaign-category">
                                                                                <span>${description1}</span>
                                                                            </div>
                                                                            <div class="campaign-title">
                                                                                <div>
                                                                                    <div class="line-clamp" style="line-height: 1.5; max-height: 3rem; -webkit-line-clamp: 2;">
                                                                                        <h3 class="content-infomation">
                                                                                            [ ${description2}
                                                                            ]
                                                                            ${description3}
                                                                                        </h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </article>
                                                                </div>
                                                            </div>

                                        `
        })
html+=`      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </article>`
        context.innerHTML = html;
    }

</script>
