<html lang="ja">

<head>
    {% include "../../base/__load__.html" %}
    <title>{% block title %}{% endblock %}</title>
    {% include "../../base/__style__.html" %}
    {% include "../../AG/main/_style.html" %}
    {% include "./_style.html" %}

    {% if request.session.session_key %}
        {% include "../../base/__script__.html" %}  
    {% else %}
        {% include "../../base/__loginscript__.html" %}  
    {% endif %}

</head>

<body>
    <div class="webp-bgroup">
        {% include "../../base/__header__.html" %}
        {% include "./campaign.html" %}
    </div>
    {% include "./modal.html" %}
<script>let csrftoken = '{{ csrf_token }}';</script>
    {% include "./_script.html" %}
</body>

</html>
