{% load static %}

<div id="__BVID__1141___BV_modal_outer_" class="modal" style="display: none;">
    <div id="__BVID__1141" aria-modal="true">
        <div class="modal-dialog"><span tabindex="0"></span>
            <div tabindex="-1" class="modal-content">
                <header class="modal-header">
                    <h5 class="modal-title">지역 선택</h5><button type="button" class="close"
                        onclick="modal_close()">×</button>
                </header>
                <div class="modal-body">
                    <div class="option-group-selectbox">
                        <ul class="modal-ul">
                            <li class="modal-li modal-selected allcity" onclick="all_check( 1 )">
                                <span style="color: #004DF7;" onclick="all_check( 1 )">전국</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>서울</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>서울 전체</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>강남구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>강동구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>강북구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>강서구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>관악구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>광진구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>구로구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>금천구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>노원구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>도봉구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>동대문구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>동작구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>마포구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>서대문구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>서초구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>성동구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>성북구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>송파구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>양천구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>영등포구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>용산구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>은평구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>종로구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>중구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level0 modal-li"><span>중랑구</span>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="parent modal-li"><span>세종</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level1 modal-li"><span>세종 전체</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level1 modal-li"><span>세종</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>강원</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>강원 전체</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>강릉시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>고성군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>동해시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>삼척시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>속초시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>양구군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>양양군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>영월군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>원주시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>인제군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>정선군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>철원군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>춘천시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>태백시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>평창군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>홍천군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>화천</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>화천군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level2 modal-li"><span>횡성군</span>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="parent modal-li"><span>인천</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="level3 modal-li"><span>인천 전체</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>강화군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>계양구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>미추홀구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>남동구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>동구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>부평구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>서구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>연수구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>옹진군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level3 modal-li"><span>중구</span>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="parent modal-li"><span>경기</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="level4 modal-li"><span>경기 전체</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>가평군</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>고양시 덕양구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>고양시 일산동구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>고양시 일산서구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>과천시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>광명시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>광주시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>구리시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>군포시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>김포시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>남양주시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>동두천시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>부천시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>성남시 분당구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>성남시 수정구</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>성남시</span>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="level4 modal-li"><span>수원시</span>
                                <div class="bottom-border"></div>
                            </li>

                            <li class="parent modal-li"><span>충북</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>충남</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>경북</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>대전</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>대구</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>전북</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>경남</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>울산</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>광주</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>부산</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>전남</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                            <li class="parent modal-li"><span>제주</span>
                                <div class="loading-indicator" style="display: none;">
                                    <div class="indicator-body center"
                                        style="width: 14px; height: 14px; border-width: 0.25rem; border-style: solid; border-color: rgb(50, 50, 50) rgba(50, 50, 50, 0.2) rgba(50, 50, 50, 0.2); border-image: initial;">
                                    </div>
                                    <p style="display: none;"></p>
                                </div>
                                <div class="bottom-border"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><span tabindex="0"></span>
        </div>
    </div>
    <div id="__BVID__1141___BV_modal_backdrop_" class="modal-backdrop"></div>

</div>