<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"
  integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh" crossorigin="anonymous">
</script>

<script>
    // javascript APP KEY 설정
    Kakao.init('a689ba2d7065e5de5b990f2247ddb1da');

     function loginWithKakao() {
        const urlParams = new URLSearchParams(window.location.search);
        const sta = urlParams.get('path');
        console.log(sta)
        Kakao.Auth.authorize({
            redirectUri: 'http://localhost:8000/AG/oauth/redirectLogin',
            prompt: 'login',
            state: sta

        });
  }


</script>