{% load static %}

<style>
    .main-content{
    width: 100%;
    display: block;
    position: relative;
}

.title-wrapper > h3{
    font-size: 30px;
    font-weight: bold;
}

.go-to-list{
    margin: 10px;
    padding: 5px 10px;
    background-color: #D1E3FD;
    color: black;
    border-radius: 4px;
    font-weight: bold;
}

.content-wrapper{
    padding: 20px 40px;
}

#title{
    width: 100%;
    padding: 10px;
    border: 2px solid #d1e3fd;
    border-radius: 4px;
}

.tox-tinymce {
    border: 2px solid #d1e3fd !important;
    border-radius: 4px !important;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    overflow: hidden;
    position: relative;
    visibility: inherit!important;
}

.tox .tox-menubar {
    background: url('data:image/svg+xml;charset=utf8,%3Csvg');
    background-color: #d1e3fd !important;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 4px 0 4px;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: url('data:image/svg+xml;charset=utf8,%3Csvg');
    background-color: #fff;
    border-color: #d1e3fd !important;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 0;
}

</style>