<script>
    $(document).ready(function () {
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 900,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });

    const modal = document.querySelector('#que');

    function open_modal() {
        modal.style.display = 'block';
    }

    function modal_close() {
        modal.style.display = 'none';
    }
</script>