{% load static %}

<html lang="ja">

<head>
    {% include "../../base/__load__.html" %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/lightslider.css' %}">
    {% include "../../base/__style__.html" %}
    {% include "./_style.html" %}
</head>

<body class="home">
    <div id="app" data-browser="Chrome" data-is-loaded="true">
        <div id="app-body">
            {% include "../../base/__header__.html" %}
            {% include "./funding01.html" %}
            {% include "./right.html" %}
            {% include "./pay.html" %}
            
        </div>
    </div>
    {% include "../../base/__footer__.html" %}
  
    <script src="{% static 'js/lightslider.js' %}"></script>
    {% include "./_script.html" %}
</body>

</html>