{% load static %}

<style>
    html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --wysiwyg-image-spacing: 1.5em;
    --wysiwyg-inline-image-spacing: calc(var(--wysiwyg-image-spacing) / 2);
}

body {
    background-color: #ffffff;
    color: #363a3c;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 71px;
    justify-content: space-between;
}

.logo img {
    width: 200px;
}

.nav-wrapper .icon-menu {
    display: inline-block;
    margin-right: 10px;
    color: #ced0db;
}

.user-nav {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

.nav-wrapper a {
    border: 0;
    color: #ced0db;
    display: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

.container-divider {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
}

.breadcrumbs li {
    color: #363a3c;
    display: inline;
    font-weight: 500;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    background-color: transparent;
}

a {
    color: #ced0db;
    text-decoration: none;
}

.breadcrumbs li a:visited {
    color: #ced0db;
}

.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
}

.search {
    position: relative;
}

.search::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #ddd;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    left: 15px;
}

[class^="icon-"]::before, [class*=" icon-"]::before, .icon, .search::before, .recent-activity-item-comment span::before, .article-vote::before, .attachments .attachment-item::before, .share a::before, .vote-up::before, .vote-down::before, .actions .dropdown-toggle::before, .collapsible-nav-list li[aria-selected="true"]::after, .collapsible-sidebar-title::after, .search-result-votes::before, .search-result-meta-count::before {
    font-family: "copenhagen-icons";
    font-style: normal;
    font-weight: normal;
    /* speak: none; */
    line-height: 1em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

input, textarea {
    color: #000;
    font-size: 14px;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

input[type=search] {
    /* -webkit-appearance: textfield; */
    box-sizing: content-box;
}

.search input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #999;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    /* -webkit-appearance: none; */
    width: 100%;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-sidebar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}

.collapsible-sidebar-title {
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav-item {
    border-radius: 4px;
    color: #363a3c;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px;
}

.sidenav-item.current-article, .sidenav-item:hover {
    background-color: #d1f3ff ;
    color: #3E72F5;
    text-decoration: none;
}

.article {
    flex: 1 0 auto;
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

h1 {
    font-size: 32px;
}

.article-info {
    max-width: 100%;
}

.article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
}

footer {
    color: #878d91;
}

.article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.share {
    padding: 0;
    white-space: nowrap;
}

.share li, .share a {
    display: inline-block;
}

.share a {
    border-radius: 50%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    width: 25px;
}

.share-facebook::before {
    content: "\e903";
}

.share-twitter::before {
    content: "\e901";
}

.share a::before {
    color: #666e72;
    display: block;
    font-size: 23px;
    text-align: center;
    width: 100%;
}

.button, [role="button"] {
    border: 1px solid #00c7ae;
    border-radius: 4px;
    color: #00c7ae;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 2.34;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
}

.article-vote {
    background: transparent;
    border: 1px solid #3E72F5 ;
    color: #3E72F5 ;
    margin: 10px 5px;
    min-width: 90px;
    width: auto;
}

.article-vote::before {
    font-size: 8px;
    margin-right: 10px;
}

.article-vote-up::before {
    content: "\2713";
}

.article-vote-down::before {
    content: "\2715";
}

.button::after, [role="button"]::after {
    color: #3E72F5 ;
}

.article-vote:after {
    content: attr(title);
}

.article-vote:hover::after {
    color: #ffffff;
}

.article-vote:hover{
    background-color: #3E72F5;
    color: #ffffff;
}

footer a {
    color: #909090;
    text-decoration: none;
}

.article-votes {
    border-top: 1px solid #ddd;
    padding: 30px 0;
    text-align: center;
}

small {
    font-size: 80%;
}

.article-more-questions {
    margin: 10px 0 20px;
    text-align: center;
}

.article-return-to-top {
    border-top: 1px solid #ddd;
}

.article-return-to-top a {
    color: #363a3c;
    display: block;
    padding: 20px 0;
}

.article-relatives {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.article-relatives > * {
    flex: 1 0 auto;
    margin-right: 0;
}

.article-relatives > *:last-child {
    margin: 0;
}

.recent-articles h3, .related-articles h3 {
    font-size: 15px;
    margin: 20px 0;
}

.recent-articles li, .related-articles li {
    margin-bottom: 15px;
}

footer {
    color: #878d91;
}

.footer {
    border-top: 1px solid #f3f5f6;
    margin-top: 60px;
    padding: 30px 0;
}

.footer {
    display: none;
}

.footer-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: #666e72;
}

.footer-language-selector {
    color: #666e72;
    display: inline-block;
    font-weight: 300;
}

.go-to-inquiry{
   text-align: center;
   margin: 12px;
}

.go-to-inquiry >a{
    padding: 5px;
    color: #878d91;
    width: fit-content;
    border: 1px solid #3E72F5;
    border-radius: 5px;
}

.go-to-inquiry >a:hover{
    background-color: #3E72F5;
    color: #ffffff;
}

@media (min-width: 1160px){
.header {
    padding: 0;
    width: 90%;
}}

@media (min-width: 768px){
.user-nav {
    position: relative;
}}

@media (min-width: 768px){
.nav-wrapper a {
    display: inline-block;
}}

@media (min-width: 1024px){
body > main {
    min-height: 65vh;
}}

@media (min-width: 768px){
.nav-wrapper .icon-menu {
    display: none;
}}

@media (min-width: 1160px){
.container {
    padding: 0;
    width: 90%;
}}

@media (min-width: 768px){
.breadcrumbs {
    margin: 0;
}}

@media (min-width: 768px){
.sub-nav {
    align-items: baseline;
    flex-direction: row;
}}

@media (min-width: 768px){
.sub-nav input[type="search"] {
    min-width: 300px;
}}

@media (min-width: 1024px){
.article-container {
    flex-direction: row;
}}

@media (min-width: 1024px){
.article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
}}

@media (min-width: 1024px){
.collapsible-sidebar {
    max-height: none;
    padding: 0;
}}

@media (min-width: 1024px){
.article {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
}}

@media (min-width: 768px){
.article-header {
    flex-direction: row;
    margin-top: 0;
}}

@media (min-width: 768px){
.article-title {
    flex-basis: 100%;
}}

@media (min-width: 1024px){
.article-return-to-top {
    display: none;
}}

@media (min-width: 768px){
.article-relatives {
    flex-direction: row;
}}

@media (min-width: 768px){
.article-relatives > * {
    margin-right: 20px;
}}

@media (min-width: 768px){
.button, [role="button"] {
    width: auto;
}}

@media (min-width: 1160px){
.footer-inner {
    padding: 0;
    width: 90%;
}}



</style>