#__end {
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* opacity: 0; */
    /* min-height: 100%; */
}

html {
    height: 100%;
    line-height: 1.15;
    display: block;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR','sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

body {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    margin: 0;
    font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

section {
    display: block;
}

a {
    color: #323232;
    background-color: transparent;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #323232;
    background-color: transparent;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img {
    border-style: none;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 25px;
}

nav {
    display: block;
}

li {
    display: list-item;
}

ul {
    padding: 0;
    margin-top: 0;
}

ul li {
    list-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

button{
    border-style: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline-style: none;
}

.footer-container {
    display: block;
    background: #fff;
    border-top: 0.0625rem solid #e1e1e1;
    padding: 1.3125rem 0 2.5rem;
}

.section-container {
    width: 60.625rem;
    margin: auto auto 5rem;
}

.navigation-section {
    display: block;
    max-width: 60.625rem;
    padding: 0;
    margin-bottom: 0px!important;
}

.navigation-section .manage-info {
    display: inline-block;
    vertical-align: top;
}

.footer-container .manage-info {
    padding-bottom: 1.875rem;
}

.navigation-section .manage-info .opened-when {
    margin-bottom: 1.875rem;
}

.navigation-section .manage-info p {
    padding-bottom: 1.875rem;
}

.navigation-section .manage-info .contact{
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #004DF7;
}

.footer-container .text-middle{
    margin: 0;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.navigation-section .manage-info .download {
    display: inline-block;
    width: 8.5rem;
    height: 2.25rem;
    background-color: #004DF7;
    border-radius: 1.28125rem;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    border: none;
}

.navigation-section .manage-info .download img {
    padding-right: 0.375rem;
    margin-top: -0.125rem;
}

.navigation-section .manage-info.right {
    float: right;
}

.navigation-section .manage-info .navigation-content-list {
    margin-bottom: 0;
}

.navigation-section .manage-info .navigation-content-list>li {
    vertical-align: top;
    display: inline-block;
    min-width: 5.9375rem;
}

.navigation-section .manage-info .navigation-content-list>li.column {
    padding-bottom: 0.9375rem;
}

.footer-container .text-middle {
    margin: 0;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container .category {
    padding-bottom: 0.3125rem;
    display: block;
    position: relative;
    border-bottom: none;
}

.footer-container .title {
    font-weight: 500;
    color: #323232;
}

.terms {
    padding-top: 1.25rem;
}

.term-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.navigation-section .manage-info .info-list-term {
    line-height: 1.125rem;
    padding-right: 6rem;
    padding-bottom: 0.5rem;
}

.navigation-section .manage-info .info-list-term .terms-group {
    display: inline-flex;
}

.footer-container .text {
    margin: 0;
    font-size: .75rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container .term {
    font-weight: 500;
    margin-right: 1.875rem;
}

.term-content{
    flex: 1;
}

.navigation-section .manage-info .info-list-term .term {
    display: block;
    font-weight: 500;
}

.navigation-section .manage-info .info-list-term .term-text {
    display: inline-block;
    font-weight: 400;
}

.footer-container .badge-list {
    padding-bottom: 2.5rem;
}

.navigation-section .footer-badge {
    padding: 0 0.375rem;
}

.navigation-section .footer-badge:first-child {
    padding-left: 0;
}


