<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>


for (let i = 0; i < 4; i++) {
    let dataCnt;

    if (i === 0){
        dataCnt = {{ len1 }};
    } else if(i === 1){
        dataCnt = {{ len2 }};
    } else if(i === 2){
        dataCnt = {{ len3 }};
    } else if(i === 3){
        dataCnt = {{ len4 }};
    }
    
    
    let cnt = Math.ceil(dataCnt / 3);

    let pro_count = 0;
    const $slide = $(`.slick-track${i}`); //앞으로가기
    const $pro_prev = $(`.slick-prev${i}`); //앞으로가기
    const $pro_next = $(`.slick-next${i}`); //뒤로가기
    const $pro_track = $(`.slick-track${i}`); //베너 트렉
    const $count = $(`.curation-page${i}`); //카운트
    
    let text = `${pro_count + 1}/${cnt}`
    $count.text(text);

    $slide.css("width", 612*cnt); 
    if (cnt < 2) {
        $pro_next.css("display", "none");
    }
    $pro_prev.on("click", function () {
        pro_count -= 1;
        text = `${pro_count + 1}/${cnt}`
        $count.text(text);
        $pro_track.css("transform", `translate3d(${-612 * pro_count}px, 0px, 0px)`);
        $pro_track.css("transition", "0.7s");
        if (pro_count < cnt) {
            $pro_next.css("display", "block"); //앞으로가기 버튼 보이게하고
        }
        if (pro_count == 0) {
            $pro_prev.css("display", "none"); //뒤로가기 버튼 안보이게하고
        }
    });

    $pro_next.on("click", function () {
        pro_count += 1;
        text = `${pro_count + 1}/${cnt}`
        $count.text(text);
        $pro_track.css("transform", `translate3d(${-612 * pro_count}px, 0px, 0px)`);
        $pro_track.css("transition", "0.7s");
        $pro_prev.css("display", "block");

        if (pro_count == cnt - 1) {
            $pro_next.css("display", "none"); //앞으로가기 버튼 안보이게하고
        }
    });
    
  }
    

    // document.querySelectorAll(".topic-link-item").forEach(function (topicLink, index) {
    //     topicLink.addEventListener("click", function () {
    //         const count = document.querySelector(".curation-page");
    //         const tracks = document.querySelectorAll(".slick-track");
    //         const slickPrevButtons = document.querySelectorAll(".slick-prev");
    //         const slickNextButtons = document.querySelectorAll(".slick-next");

    //         allCount =
    //             count.textContent = "1/2";

    //         const track = tracks[currentCurationIndex];
    //         const prevButton = slickPrevButtons[currentCurationIndex];
    //         const nextButton = slickNextButtons[currentCurationIndex];

    //         prevButton.style.display = "none";
    //         nextButton.style.display = "block";
    //         track.style.transform = "translate3d(0px, 0px, 0px)";
    //         track.style.transition = "0.7s";

    //         currentCurationIndex = index;
    //     });
    // });

    let currentContent = document.querySelector(".content0");
    let page = 0;
    for (let i = 0; i < 5; i++) {
        const list = document.querySelector(`.router-link-active${i}`);
        const content = document.querySelector(`.content${i}`);

        if (i !== 0) {
            content.style.display = "none";
        }

        list.addEventListener("click", function () {
            if (currentContent !== content) {
                for (let j = 0; j < 5; j++) {
                    const link = document.querySelector(`.router-link-active${j}`);
                    const contentJ = document.querySelector(`.content${j}`);
                    
                    if(j === 4){
                        
                        window.addEventListener('scroll', () => {
                        
                        const currentScroll = window.scrollY;
                        const windowHeight = window.innerHeight;
                        const bodyHeight = document.body.scrollHeight;
                        // console.log(currentScroll + windowHeight + 20, bodyHeight);
                        if(currentScroll + windowHeight + 0.5 >= bodyHeight){
                            // currentScroll + windowHeight >= bodyHeight
                            page++;
                            getList();
                        }
                        });
                    }

                    if (j === i) {
                        link.style.background = "#d1f3ff";
                        link.querySelector("span").style.fontWeight = "700";
                        link.querySelector("span").style.color = "rgb(45, 45, 45)";
                        contentJ.style.display = "block";
                    } else {
                        link.style.background = "none";
                        link.querySelector("span").style.fontWeight = "400";
                        link.querySelector("span").style.color = "rgb(169, 169, 169)";
                        contentJ.style.display = "none";
                    }
                }
                currentContent = content;
            }
        });
    }

let jsonDataObj ="" 
function getList(){
    fetch(`/member/mypage/activity/review/${page}/`)
        .then((response) => response.json())
        .then((data)=>{
         
            let jsonDataObj = JSON.parse(data.result);
            // console.log(jsonDataObj);
            
            let text = "";

            for (let key in jsonDataObj) {
                if (jsonDataObj.hasOwnProperty(key)) {
                    let item = jsonDataObj[key];

                    text +=`  <li class="review-wrap">
                                    <a href="${item.campaign_id}">
                                        <div class="review-wrap2">
                                            <div>
                                                <section>
                                                    <h3 class="review-title">
                                                        ${item.campaign_title}
                                                    </h3>
                                                    <p class="review-content">
                                                        ${item.campaign_review_content} 
                                                    </p>
                                                </section>
                                                <p class="review-region">
                                                    ${item.header_name}/${item.detail_name}
                                                </p>
                                            </div>
                                            <img src="${item.campaign_image}"
                                                 alt="">
                                        </div>
                                        </a>
                                </li>
                                `

                    console.log(item.campaign_title);
                    console.log(item.campaign_review_content);
                    // 다른 속성에 대한 작업 수행
                }
            }
            document.querySelector("#recontent").innerHTML += text;
            // jsonDataObj.forEach(item => {
            //     console.log(item);
                
                // post = post[0];
                // text += `<div>
                //             <a href="/notice/detail/${post.id}">
                //               <div class="recommend-one-post">
                //                 <button class="recommend-one-post-btn">
                //                   <div class="recommend-one-post-btn-img">
                //                     <span class="recommend-one-post-btn-img-span">
                //                       <span></span>
                //           `;
                // if(post.post_file){
                //     text += `<img style="object-fit: cover" src="/upload/${post.post_file}">`;
                // } else {
                //     text += `<img style="object-fit: cover" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fsub_banners%2F0731_%25EC%2582%25AC%25EB%259D%25BC%25EC%259E%2588%25EB%2584%25A4.png%3Fauto%3Dformat%252Ccompress%26h%3D840%26lossless%3Dtrue%26w%3D840&w=1920&q=75">`;
                // }
                // text += `                
                //                     </span>
                //                   </div>
                //                   <section class="recommend-one-post-btn-content">
                //                     <div>
                //                       <strong class="recommend-one-post-btn-content-strong">공지사항</strong>
                //                       <h2 class="recommend-one-post-btn-content-h2">${post.post_title}</h2>
                //                     </div>
                //                     <div style="width: 40px; height: 2px; background-color: #333334;"></div>
                //                     <p style="overflow: hidden; height: 96px" class="recommend-one-post-btn-content-p">${post.post_content}</p>
                //                   </section>
                //                 </button>
                //               </div>
                //             </a>
                //         </div>
                //     `
            // })
            // document.querySelector("#post-wrapper").innerHTML += text;
        })
}


    // const slickPrevButtons = document.querySelectorAll(".slick-prev");
    // const slickNextButtons = document.querySelectorAll(".slick-next");
    // const tracks = document.querySelectorAll(".slick-track");
    // const count = document.querySelector(".curation-page");



    // slickPrevButtons.forEach(function (prevButton, index) {
    //     const nextButton = slickNextButtons[index];
    //     const track = tracks[index];

    //     prevButton.addEventListener("click", function () {
    //         prevButton.style.display = "none";
    //         nextButton.style.display = "block";
    //         count.textContent = `1/2`;
    //         track.style.transform = "translate3d(0px, 0px, 0px)";
    //         track.style.transition = "0.7s";
    //     });
    // });

    // slickNextButtons.forEach(function (nextButton, index) {
    //     const prevButton = slickPrevButtons[index];
    //     const track = tracks[index];

    //     nextButton.addEventListener("click", function () {
    //         nextButton.style.display = "none";
    //         prevButton.style.display = "block";
    //         count.textContent = `2/2`;
    //         track.style.transform = "translate3d(-612px, 0px, 0px)";
    //         track.style.transition = "0.7s";
    //     });
    // });

    $(document).ready(function () {
        const $top_btn = $(".top-btn");

        // 초기에는 버튼을 숨김
        $top_btn.hide();

        // 스크롤 이벤트 리스너
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $top_btn.fadeIn();
            } else {
                $top_btn.fadeOut();
            }
        });

        // 클릭 이벤트 리스너
        $top_btn.click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            return false;
        });
    });

</script>