<div style="position: absolute; z-index: 100000; display: none;" id="rul_1">
    <div class="modal fade show question-register-modal" aria-modal="true" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable mobile-full-modal"><span
                tabindex="0"></span>
            <div tabindex="-1" class="modal-content">
                <header class="modal-header">
                    <h5 class="modal-title">개인정보 수집 및 이용 동의</h5><button type="button" aria-label="Close"
                        style="cursor: pointer;" onclick="modal1_close()" class="close">×</button>
                </header>
                <div class="modal-body">
                    <article>
                        <div class="terms-content"> 숨고 회원 계정으로 마켓 상품을 구매하는 경우, 주식회사 브레이브모바일(이하
                            “회사”)은 사이트 이용을 위해 필요한 최소한의 범위로 개인정보를 수집합니다. 회사는 이용자의 사전 동의 없이는 이용자의 개인 정보를 공개하지 않으며, 다음과
                            같은 목적을 위하여 개인정보를 수집하고 이용합니다. <ol>
                                <li> 개인정보의 수집 및 이용 목적 : 상품 구매 중개, 구매 및 요금 결제, 상담 및 불만 처리, 상품 구매에
                                    따른 혜택 제공 </li>
                                <li>수집하는 개인정보 항목 : 상품 구매정보, 결제수단</li>
                                <li> 개인정보의 보유 및 이용기간 : 개인정보 이용목적 달성 시까지 보관하며, 관계 법령의 규정에 의하여 일정
                                    기간 보존이 필요한 경우에는 해당 기간만큼 보관 후 파기합니다. <ul>
                                        <li> 전자상거래 등에서 소비자 보호에 관한 법률 <ul>
                                                <li>계약 또는 청약철회 등에 관한 기록 : 5년 보관</li>
                                                <li>대금결제 및 재화 등의 공급에 관한 기록 : 5년 보관</li>
                                                <li>소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 보관</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ol> 사용자는 개인정보 수집 및 이용에 대한 동의를 거부할 수 있으며, 동의 거부 시 마켓 상품 구매가 제한됩니다. 그밖의 내용은 회사의 이용약관 및
                            개인정보처리방침에 따릅니다. </div>
                    </article>
                </div>
            </div><span tabindex="0"></span>
        </div>
    </div>
</div>