{% load static %}

<div id="app-body">
    <div class="instant-purchase-container">
        <article class="instant-purchase-order">
            <header class="page-heading">
                <h1 class="page-title">주문하기</h1>
            </header>
            <section class="product-summary">
                <div class="product-summary-container">
                    <div class="section-title-container">
                        <div class="section-title-box">
                            <h3 class="section-title">주문상품</h3>
                        </div>
                    </div>
                    <ul class="product-info">
                        <li><span class="info-name">상품명</span>
                            <p class="info-value"> ALL-IN-ONE 기업 웹사이트 개발 해드립니다. </p>
                        </li>
                        <li><span class="info-name">상품옵션</span>
                            <p class="info-value"> 원페이지 반응형 랜딩 홈페이지 </p>
                        </li>
                        <li><span class="info-name">상세내용</span>
                            <p class="info-value"> 원페이지 반응형 랜딩 홈페이지
                                원페이지 랜딩 페이지 개발
                                Contact 메일보내기 포함
                                도메인 등록 배포 등의 완벽한
                                사후 관리 까지 </p>
                        </li>
                        <li><span class="info-name">상품가격</span>
                            <p class="info-value"> 770,000원 </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="payment-methods">
                <h3 class="section-title">결제수단</h3>
                <div role="radiogroup" tabindex="-1" class="payment-methods-list bv-no-focus-ring">
                    <div class="custom-control custom-radio"><input type="radio" class="custom-control-input"
                            checked><label class="custom-control-label"><span>신용/체크카드</span></label></div>
                </div>
            </section>
            <section class="amount">
                <h3 class="section-title">결제금액</h3>
                <table>
                    <tbody>
                        <tr class="amount">
                            <th>서비스 금액</th>
                            <td>
                                <p>770,000 원</p>
                            </td>
                        </tr>
                        <tr class="total-amount">
                            <th>최종 결제금액</th>
                            <td>
                                <p>770,000 원</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="notification refund-policy"><strong class="title">💰 취소/환불은 어떻게 진행되나요?</strong>
                    <p><span class="highlight">결제 직후 3시간 이내로 취소 시 전액 환불처리</span>가 되며, 이후 주문취소가 불가하여 고수분과 환불을
                        위한 별도의 협의가 필요합니다. </p>
                    <p> 주문취소는 구매내역에서 가능하며, 고수가 서비스 취소를 진행할 경우에는 고객님이
                        결제하신 금액이 전액 환불됩니다. </p>
                </div>
            </section>
            <section class="terms">
                <h3 class="section-title">이용동의</h3>
                <div class="instant-purchase-payment-terms">
                    <div tabindex="-1" class="bv-no-focus-ring">
                        <ul>
                            <li class="term-item">
                                <div class="custom-control custom-checkbox"><input type="checkbox"
                                        class="custom-control-input" value="privacyPolicy"><label
                                        class="custom-control-label">
                                        <p class="term-label">개인정보 수집 및 이용 동의(필수)</p>
                                    </label></div><button type="button" onclick="open_modal1()"
                                    class="btn detail-button btn-none">보기</button>
                            </li>
                            <li class="term-item">
                                <div class="custom-control custom-checkbox"><input type="checkbox"
                                        class="custom-control-input" value="thirdParties"><label
                                        class="custom-control-label">
                                        <p class="term-label">제 3자 정보 공유 동의(필수)</p>
                                    </label></div><button type="button" onclick="open_modal2()"
                                    class="btn detail-button btn-none">보기</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="notification pass-phone-number">
                    <p>결제 금액을 다시한번 확인해주세요.</p>
                </div>
            </section>
            <section class="pay-button"><button type="button" 
                    class="btn btn-primary btn-block disabled">결제하기</button></section>

        </article>
    </div>
</div>