{% load static %}

<main>
    <div class="container-divider"></div>
    <div class="container">
      <nav class="sub-nav">
        <ol class="breadcrumbs">
          <li>
              <a href="#"></a>어노니머스 가디언
          </li>
          <li title="자주묻는 질문 - 어노니머스 가디언">
            <a href="#">자주묻는 질문</a>
          </li>
          <li title="공지사항">공지사항</li>
        </ol>
        <form role="search" class="search" action="/hc/ko/search" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓" autocomplete="off">
          <input type="search" name="query" id="query" placeholder="검색" aria-label="검색">
        </form>
      </nav>
      <div class="category-content">
        <header class="page-header">
          <h1>공지사항</h1>
        </header>
        <div class="section-tree">
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{% url 'campaign:list' %}">캠페인 공지사항</a>
            </h3>

            <ul class="article-list">
            {% for notice in notices %}
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="{% url 'member:notice-detail' id=notice.id %}" class="article-list-link">{{ notice.notice_title }}</a>
              </li>
            {% endfor %}
{#              <li class="article-list-item article-promoted">#}
{#                <span data-title="승격된 문서" class="icon-star"></span>#}
{#                <a href="{% url 'member:NoticeDetail-b' %}" class="article-list-link"><span>{{ notice.notice_title }}</span></a>#}
{#              </li>#}

{#              <li class="article-list-item article-promoted">#}
{#                <span data-title="승격된 문서" class="icon-star"></span>#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link"><span>{{ notice.notice_title }}</span></a>#}
{#              </li>#}
{#              <li class="article-list-item article-promoted">#}
{#                <span data-title="승격된 문서" class="icon-star"></span>#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link"><span>{{ notice.notice_title }}</span></a>#}
{#              </li>#}
{#              <li class="article-list-item article-promoted">#}
{#                <span data-title="승격된 문서" class="icon-star"></span>#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link"><span>{{ notice.notice_title }}</span></a>#}
{#              </li>#}
            </ul>

            <a href="#" class="see-all-articles">
              더 보기
            </a>
          </section>
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{% url 'member:faq' %}">펀딩•기부 관련 공지사항</a>
            </h3>
          {% for notice in noticesDon %}
            <ul class="article-list">
              <li class="article-list-item">
                <a href="#" class="article-list-link">{{ notice.notice_title }}</a>
              </li>
{#              <li class="article-list-item">#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link">{{ notice.notice_title }}</a>#}
{#              </li>#}
{#              <li class="article-list-item">#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link">{{ notice.notice_title }}</a>#}
{#              </li>#}
{#              <li class="article-list-item">#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link">{{ notice.notice_title }}</a>#}
{#              </li>#}
{#              <li class="article-list-item">#}
{#                <a href="{% url 'member:NoticeDetail' %}" class="article-list-link">{{ notice.notice_title }}</a>#}
{#              </li>#}
            </ul>
          {% endfor %}
            <a href="#" class="see-all-articles">
              더 보기
            </a>
          </section>
        </div>
      </div>
    </div>
</main>