{% load static %}

<main>
    <div class="container-divider"></div>
    <div class="container">
      <nav class="sub-nav">
        <ol class="breadcrumbs">
          <li title="자주묻는 질문 - 어노니머스 가디언">
            <a href="#">자주묻는 질문 - 어노니머스 가디언</a>
          </li>
          <li title="공지사항">공지사항</li>
        </ol>
        <form role="search" class="search" action="/hc/ko/search" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓" autocomplete="off">
          <input type="search" name="query" id="query" placeholder="검색" aria-label="검색">
        </form>
      </nav>
      <div class="category-content">
        <header class="page-header">
          <h1>공지사항</h1>
        </header>
        <div class="section-tree">
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD">캠페인 공지사항</a>
            </h3>
            <ul class="article-list">
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/21347831309337--23-08-02-%EC%9E%90%EB%8F%99%EC%B0%A8-%EC%A0%95%EB%B9%84-%EB%B0%8F-%EC%9E%90%EB%8F%99%EC%B0%A8-%ED%8A%9C%EB%8B%9D-%EC%84%9C%EB%B9%84%EC%8A%A4-%EA%B2%80%EC%A6%9D-%EC%A0%88%EC%B0%A8-%EB%B3%80%EA%B2%BD-%EC%95%88%EB%82%B4-08-31-%EB%B0%98%EC%98%81-" class="article-list-link">[23.08.02] 자동차 정비 및 자동차 튜닝 서비스 검증 절차 변경 안내 (08/31 반영)</a>
              </li>
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/20873970589721--23-07-20-%EC%88%A8%EA%B3%A0-%EB%A7%88%EC%BC%93-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%9E%AC%EA%B0%9C-%EC%95%88%EB%82%B4-7-27-%EB%B0%98%EC%98%81-" class="article-list-link">[23.07.20] 숨고 마켓 서비스 재개 안내 (7/27 반영)</a>
              </li>
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/20050043314201--23-06-27-6%EC%9B%94-30%EC%9D%BC-%EA%B3%A0%EA%B0%9D%EC%84%BC%ED%84%B0-%EC%9D%BC%EB%B6%80-%EC%B1%84%EB%84%90-%EC%9A%B4%EC%98%81-%EC%95%88%EB%82%B4" class="article-list-link">[23.06.27] 6월 30일 고객센터 일부 채널 운영 안내</a>
              </li>
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/19873610491161--23-06-22-%EC%A7%80%EB%8F%84%EB%A1%9C-%EA%B3%A0%EC%88%98-%EC%B0%BE%EA%B8%B0-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%98%A4%ED%94%88-%EC%98%88%EC%A0%95-7-12-%EB%B0%98%EC%98%81-" class="article-list-link">[23.06.22] '지도로 고수 찾기' 서비스 오픈 예정 (7/12 반영)</a>
              </li>
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/18645751876761--23-05-24-%EB%B0%94%EB%A1%9C%EA%B2%AC%EC%A0%81-%EB%B0%9C%EC%86%A1-%EC%BA%90%EC%8B%9C-%ED%95%A0%EC%9D%B8%EC%9C%A8-%EB%B3%80%EA%B2%BD-%EC%95%88%EB%82%B4-5-31%EB%B0%98%EC%98%81-" class="article-list-link">[23.05.24] 바로견적 발송 캐시 할인율 변경 안내 (5/31반영)</a>
              </li>
              <li class="article-list-item article-promoted">
                <span data-title="승격된 문서" class="icon-star"></span>
                <a href="/hc/ko/articles/18292383938841--23-05-10-%EC%88%A8%EA%B3%A0-%ED%9A%8C%EC%9B%90-%EC%9D%B4%EC%9A%A9%EC%95%BD%EA%B4%80-%EB%B3%80%EA%B2%BD-%EC%95%88%EB%82%B4-6-7-%EB%B0%98%EC%98%81-" class="article-list-link">[23.05.10] 숨고 회원 이용약관 변경 안내 (6/7 반영)</a>
              </li>
            </ul>
            <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD" class="see-all-articles">
              문서 119개 모두 보기
            </a>
          </section>
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/ko/sections/360011279172-%EC%96%B8%EB%A1%A0-%EC%86%8D%EC%9D%98-%EC%88%A8%EA%B3%A0">펀딩•기부 관련 공지사항</a>
            </h3>
            <ul class="article-list">
              <li class="article-list-item">
                <a href="/hc/ko/articles/5548437979161--2022-01-24-%EC%84%B1%EB%8F%99%EC%9D%BC-%EB%9D%BC%EB%AF%B8%EB%9E%80-%EC%9D%B4%EB%8F%99%ED%9C%98-%ED%95%9C%EC%84%A0%ED%99%94%EA%B9%8C%EC%A7%80-%EC%88%A8%EA%B3%A0-%EC%B2%AB-%EA%B4%91%EA%B3%A0%EB%AA%A8%EB%8D%B8-%EB%8F%99%EC%8B%9C-%EB%B0%9C%ED%83%81" class="article-list-link">[2022.01.24] 성동일·라미란·이동휘·한선화까지…숨고, 첫 광고모델 동시 발탁</a>
              </li>
              <li class="article-list-item">
                <a href="/hc/ko/articles/4414010386457--2021-11-30-%EC%8A%A4%EB%A7%88%ED%8A%B8%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EB%8C%80%EC%83%81-%EA%B9%80%EB%A1%9C%EB%B9%88-%EB%B8%8C%EB%A0%88%EC%9D%B4%EB%B8%8C%EB%AA%A8%EB%B0%94%EC%9D%BC-%EB%8C%80%ED%91%9C-75%EB%A7%8C-%EB%AA%85-%EC%A0%84%EB%AC%B8%EC%9D%B8%EB%A0%A5-1-1-%EB%A7%A4%EC%B9%AD-" class="article-list-link">[2021.11.30] &ZeroWidthSpace;[스마트대한민국대상] 김로빈 브레이브모바일 대표 “75만 명 전문인력, 1:1 매칭”</a>
              </li>
              <li class="article-list-item">
                <a href="/hc/ko/articles/4414004067993--2021-11-18-%EB%A7%A4%EC%B9%AD-%ED%94%8C%EB%9E%AB%ED%8F%BC-%EC%88%A8%EA%B3%A0-%EA%B8%B0%EC%97%85%EC%9A%A9-%EC%88%A8%EA%B3%A0-%EB%B9%84%EC%A6%88-%EB%A7%81%ED%81%AC-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%8B%9C%EC%9E%91" class="article-list-link">[2021.11.18] 매칭 플랫폼 숨고, 기업용 '숨고 비즈 링크' 서비스 시작</a>
              </li>
              <li class="article-list-item">
                <a href="/hc/ko/articles/4407425694093--2021-08-11-%EC%88%A8%EA%B3%A0-%EB%88%84%EC%A0%81-%EA%B2%AC%EC%A0%81-%EC%88%98-3300%EB%A7%8C-%EA%B1%B4-%EB%93%B1%EB%A1%9D-%EA%B3%A0%EC%88%98-70%EB%A7%8C-%EB%AA%85-%EB%8F%8C%ED%8C%8C" class="article-list-link">[2021.08.11] 숨고, 누적 견적 수 3300만 건, 등록 고수 70만 명 돌파</a>
              </li>
              <li class="article-list-item">
                <a href="/hc/ko/articles/4403146855437--2021-06-14-%EC%88%A8%EA%B3%A0-%EC%9A%B4%EC%98%81%EC%82%AC-%EB%B8%8C%EB%A0%88%EC%9D%B4%EB%B8%8C%EB%AA%A8%EB%B0%94%EC%9D%BC-320%EC%96%B5-%EC%9B%90-%EA%B7%9C%EB%AA%A8-%EC%8B%9C%EB%A6%AC%EC%A6%88C-%ED%88%AC%EC%9E%90-%EC%9C%A0%EC%B9%98" class="article-list-link">[2021.06.14] 숨고 운영사 ‘브레이브모바일’, 320억 원 규모 시리즈C 투자 유치</a>
              </li>
              <li class="article-list-item">
                <a href="/hc/ko/articles/4403146846477--2021-04-29-%EC%88%A8%EA%B3%A0-5%EC%9B%94-%EC%A2%85%ED%95%A9%EC%86%8C%EB%93%9D%EC%84%B8-%EC%98%A8%EB%9D%BC%EC%9D%B8-%EC%84%B8%EB%AF%B8%EB%82%98-%EC%98%A4%ED%94%88-%EA%B9%8C%EB%8B%A4%EB%A1%9C%EC%9A%B4-%EC%A2%85%EC%86%8C%EC%84%B8-%EC%8B%A0%EA%B3%A0-%EC%95%8C%EB%A0%A4%EC%A4%80%EB%8B%A4-" class="article-list-link">[2021.04.29] 숨고, 5월 종합소득세 온라인 세미나 오픈…“까다로운 종소세 신고 알려준다”</a>
              </li>
            </ul>
            <a href="/hc/ko/sections/360011279172-%EC%96%B8%EB%A1%A0-%EC%86%8D%EC%9D%98-%EC%88%A8%EA%B3%A0" class="see-all-articles">
              문서 20개 모두 보기
            </a>
          </section>
        </div>
      </div>
    </div>
</main>