{% load static %}

<body>
    <div id="app-body">
        <div data-testid="login-page" class="login-page">
            <h2>회원 가입</h2>
            <div class="card">
                <form autocomplete="off">
                    <div class="form-row login-form">

                        <div class="col-12">
                            <a id="kakao-login-btn" href="javascript:signupWithKakao()">
                                <button type="button" class="btn kakao-login-btn btn-secondary"><img
                                        src="https://assets.cdn.soomgo.com/icons/icon-login-kakaotalk-btn.svg"
                                        alt="카카오 로그인"><span>카카오로 시작</span>
                                </button>
                            </a>
                        </div>
                        <div style="text-align: center; margin-top: 3rem; width: 100%;"><span>여기부터는 <span
                                    style="color: #3E72F5;">Anonymous Guardian</span> 구역입니다.</span></div>
                    </div><!---->
                </form>
            </div>
        </div>
    </div>
</body>