<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
  $("ul").on("click", () => {
    $("ul").slideToggle(200);
  });


const $listItems = document.querySelectorAll('.side-navigation-list');

$listItems.forEach(listItem => {
    const $icon = listItem.querySelector('.list-icon'); // 현재 리스트 아이템에 속한 아이콘을 선택

    listItem.addEventListener('mouseover', function() {
        $icon.style.color = 'blue';
        $icon.style.fill = 'blue';
    });

    listItem.addEventListener('mouseout', function() {
        $icon.style.color = ''; // 기본 색상으로 복원
        $icon.style.fill = '';  // 기본 색상으로 복원
    });
});



</script>

<