<script>
    document.addEventListener('DOMContentLoaded', function () {
        var contentDiv = document.getElementById('detail-container');
        if (contentDiv) {
            var contentHeight = contentDiv.scrollHeight + 100;
            contentHeight += parseInt(window.getComputedStyle(contentDiv).getPropertyValue('padding-top'));
            contentHeight += parseInt(window.getComputedStyle(contentDiv).getPropertyValue('padding-bottom'));
            contentHeight += parseInt(window.getComputedStyle(contentDiv).getPropertyValue('border-top-width'));
            contentHeight += parseInt(window.getComputedStyle(contentDiv).getPropertyValue('border-bottom-width'));
            console.log(contentHeight)
            document.body.style.height = contentHeight + 'px';
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 900,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });

    const modal = document.querySelector('#que');

    function open_modal() {
        modal.style.display = 'block';
    }

    function modal_close() {
        modal.style.display = 'none';
    }

</script>

<script>
    let startDateString = "{{ donation.started_on|date:'Y-m-d' }}T00:00:00";
    let endDateString = "{{ donation.ends_on|date:'Y-m-d' }}T00:00:00";

    let startDate = new Date(startDateString);
    let endDate = new Date(endDateString);

    let currentDate = new Date();

    if (currentDate >= startDate && currentDate <= endDate) {
        document.getElementById("status").innerHTML = "진행중";
    } else {
        document.getElementById("status").innerHTML = "종료됨";
    }

</script>

<script>
    let replyBox = document.getElementById("reply");
    let submitButton = document.getElementById("submit");
    let registerText = document.getElementById("register");

    replyBox.addEventListener('input',(function (e){
        if (replyBox.value.trim() === "") {
        submitButton.style.backgroundColor = '#FAFAFA';
        registerText.style.color = '#B4B4B4';
    } else {
        submitButton.style.backgroundColor = '#3E72F5';
        registerText.style.color = '#fff';

    }}))

</script>