{% load static %}

<div class="detail-container" id="detail-container">
    <article class="instant-purchase-product-detail no-recent-view">
        <div class="flex-aside left">
            <div class="observer-container">
                <section class="banner">
                    <article class="article1">
                        <div class="slick-slider1">
                            <div class="slick-list1">
                                <div class="slick-track1">
                                    <div tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide2">
                                        <article class="preview-image" tabindex="-1">
                                            <div class="image-wrap2">
                                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                    <li data-thumb="{{ donation.donation_image.url }}">
                                                        <img src="{{ donation.donation_image.url }}" alt="Donation Image" lazy="loaded">
                                                    </li>
                                                    <li data-thumb="{{ donation.donation_image.url }}">
                                                        <img src="{{ donation.donation_image.url }}" lazy="loaded">
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="sticky-nav-wrapper2">
                    <ul class="sticky-nav2">
                        <li id="nav-price" class="price"><button type="button" class="btn-d-1"><span> 서비스
                                    가격</span></button></li>
                        <li id="nav-explanation" class="explanation active2"><button type="button"
                                class="btn-d-1"><span> 펀딩 설명</span></button></li>
                        <li id="nav-questions" class="questions"><button type="button" class="btn-d-1"><span>
                                    취소/환불</span></button></li>
                        <li id="nav-qna" class="qna"><button type="button" class="btn-d-1"><span>
                                    댓글 </span></button></li>
                        <!-- <li id="nav-refund" class="refund"><button type="button" class="btn-d-1"><span>
                                            취소/환불 </span></button></li> -->
                    </ul>
                </section>
                <section class="product-explanation2" id="explanation">
                    <article class="product-provider2">
                        <div class="row provider-overview no-gutters">
                            <div class="col-auto"><img
                                    src="https://static.cdn.soomgo.com/upload/profile/ddb12c74-aec6-4d92-a994-450016880d4d.png?h=160&amp;w=160&amp;webp=1"
                                    alt="이엘코드" class="provider-profile">
                            </div>
                            <div class="col"><span class="provider-name">{{ writer }}</span>
                                <div class="provider-review">
                                    <ul class="star-rate readonly" style="--gap: 0px;">
                                        <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                alt="Star Icon"></li>
                                        <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                alt="Star Icon"></li>
                                        <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                alt="Star Icon"></li>
                                        <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                alt="Star Icon"></li>
                                        <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                alt="Star Icon"></li>
                                    </ul><span class="review-count">(10)</span>
                                </div>
                            </div>
                            <div class="share-button-wrapper col-auto"><button type="button"
                                    class="btn share-button btn-none"></button>
                            </div>
                        </div>
                        <div class="row provider-process-type no-gutters"><span class="col-auto">작업방식</span><span
                                class="col-auto">비대면</span>
                        </div>
                    </article>
                    <article class="product-description">

                        <div class="line-clamp" style="line-height: 1.71;">
                            <p class="description">
                                {{ donation.donation_content }}
{#                                * 소개#}
{##}
{#                                안녕하세요.냥냥방범대 입니다.#}
{##}
{#                                우리나라 고유의 민족명절 설!#}
{#                                명절 휴무에도 냥냥방범대는 시민의 안전을 위해 발로 뜁니다.#}
{#                                상가, 주택 등 관내를 꼼꼼하게 순찰하는 것은 물론!#}
{#                                주택가 일대, 공원 화장실 등 발길 닿는 곳을 꼼꼼하게 순찰하고!#}
{#                                시민들에게 절도 예방법 및 방범 예방활동을 강조하며#}
{#                                오늘도 범죄 예방을 위해 앞장섭니다!#}
{##}
{##}
{#                                여러분의 가정도 평화가 깃들기를 서울 냥냥방범대가 기원합니다!#}


                            </p>
                        </div><button type="button"
                            class="btn border-gray collapse-toggle btn-outline-primary btn-block"
                            style="display: none;"> 더 보기
                        </button>

                    </article>
                    <article class="product-description-images">
                        <div class="height-clamp hide-less" style="--hc-gradient-height: 120px; --hc-height: 464px;">
                            <div><img
                                    src="{{ donation.donation_image.url }}"
                                    alt="상품 이미지" class="img-fluid w-100" data-type="lightGallery"
                                    data-exthumbimage="https://static.cdn.soomgo.com/upload/market/05223f90-51de-4fb2-9c33-5bc6fffc7a26.jpg?h=160&amp;w=160&amp;webp=1"
                                    data-src="https://mblogthumb-phinf.pstatic.net/MjAxODA1MTBfMjc4/MDAxNTI1OTQ5MjE3MTgz.59F6yYuOMYnBaL0rJhqh4yYtn5cdlUfwwDO5-Q9DkFsg.Vw3aPIXgnxVdIyizbwnJQnAzLwOsKr5xGaa3IZM44Bog.JPEG.icbp6114/KakaoTalk_20180501_184015079.jpg?type=w800&webp=1"
                                    role="button"><img
                                    src="{{ donation.donation_image.url }}"
                                    alt="상품 이미지" class="img-fluid w-100" data-type="lightGallery"
                                    data-exthumbimage="https://static.cdn.soomgo.com/upload/market/c4a05215-a3c5-4e76-b82b-f996c2378622.jpg?h=160&amp;w=160&amp;webp=1"
                                    data-src="https://static.cdn.soomgo.com/upload/market/c4a05215-a3c5-4e76-b82b-f996c2378622.jpg?webp=1"
                                    role="button">
                            </div>
                            <!-- <div class="collapse-toggle"><button type="button"
                                            class="btn border-gray btn-outline-primary btn-block"> 접기
                                        </button></div> -->
                        </div>
                    </article>
                </section>
                <!-- <section data-observe="questions" class="product-questions" id="questions">
                            <h4 class="section-title">질문답변</h4>
                            <div   class="height-clamp hide-less"
                                style="--hc-gradient-height: 120px; --hc-height: 304px;">
                                <div >
                                    <ul   class="qna-list list-no-margin">
                                        <li  >
                                            <p   class="question">세금계산서 발행이
                                                가능한가요?</p>
                                            <p   class="answer">세금계산서 발행 가능합니다.
                                            </p>
                                        </li>
                                        <li  >
                                            <p   class="question">원하는 템플릿이 있는데
                                                이걸 기반으로 개발이 가능할까요?</p>
                                            <p   class="answer">가능합니다.
                                                갖고계신 해당 템플릿 자료를 보내주세요.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div  class="collapse-toggle"><button 
                                        type="button" class="btn border-gray btn-outline-primary btn-block"> 접기
                                    </button></div>
                            </div>
                        </section>
                        <section data-observe="qna" class="product-qna" id="qna">
                            <h4 class="section-title">문의</h4>
                            <div data-v-d85ebe5c="" class="product-qna-list">
                                <div data-v-d85ebe5c="" class="header">
                                    <p data-v-d85ebe5c="" class="no-qna">상품에 대해 궁금한 점을 문의해 보세요.
                                    </p>
                                </div>
                                <div data-v-d85ebe5c="" class="content">
                                    <section data-v-036d4c46="" data-v-d85ebe5c="" class="qna-list guest no-qna">
                                        <div data-v-036d4c46="" class="list-wrap"></div>
                                    </section>
                                </div>
                            </div>
                        </section> -->

                <section class="product-refund-policy" id="refund">
                    <h4 class="section-title1">취소 및 환불 규정</h4>
                    <div>1. 구매 취소는 구매 직후 3시간 안에 가능합니다. 구매내역 페이지에서 구매취소
                        버튼을 눌러주세요. 즉시 구매 금액이 환불됩니다.

                        2. 구매 3시간 뒤에는 고수와 상호 협의하에 구매 취소가 가능합니다. 협의가 되면 환불 접수가 진행됩니다. 접수 후 구매 금액 환불까지는 영업일 기준
                        3-5일이 소요될 수 있습니다.

                        3. 개발이 완료된 경우 취소 및 환불이 불가능 합니다.

                        4. 개발 도중 환불은 가능하며, 결제대금의 30%를 제외한 나머지 금액만 가능합니다.</div>
                </section>



                <section class="re-body">
                    <div class="profile-review" id="profile-link">
                        <h2>응원해요</h2>
                        <div class="profile-review-list">
                            <div>
                                <!-- <div class="summary">
                                            <div class="avg">5.0</div>
                                            <div class="info">
                                                <ul class="star-rate readonly isBig" style="--gap: 0px;">
                                                    <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                            alt="Star Icon"></li>
                                                    <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                            alt="Star Icon"></li>
                                                    <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                            alt="Star Icon"></li>
                                                    <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                            alt="Star Icon"></li>
                                                    <li><img src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg"
                                                            alt="Star Icon"></li>
                                                </ul>
                                                <div class="review-count">2개 리뷰</div>
                                            </div>
                                        </div> -->
                                <hr>
                            </div>
                            <!-- <ul class="list-container">
                                        <li role="checkbox" class="selector-wrapper"><img width="20px" height="20px"
                                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQxOSAtNDU4KSB0cmFuc2xhdGUoMzc1IDI0NykgdHJhbnNsYXRlKDI4IDE5NSkiPgogICAgICAgICAgICA8cmVjdCB3aWR0aD0iMzYzIiBoZWlnaHQ9Ijc2IiB4PSIuNSIgeT0iLjUiIHN0cm9rZT0iI0UxRTFFMSIgcng9IjQiLz4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNiAxNikgdHJhbnNsYXRlKDEgMSkiPgogICAgICAgICAgICAgICAgICAgIDxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0iI0UxRTFFMSIgcng9IjkiLz4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSA4LjY4OEw3Ljg4IDExLjUgMTMgNi41Ii8+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo="
                                                alt="체크되지 않음"><span class="text"> 사진 리뷰</span>
                                        </li>
                                        <li role="checkbox" class="selector-wrapper"><img width="20px" height="20px"
                                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQxOSAtNDU4KSB0cmFuc2xhdGUoMzc1IDI0NykgdHJhbnNsYXRlKDI4IDE5NSkiPgogICAgICAgICAgICA8cmVjdCB3aWR0aD0iMzYzIiBoZWlnaHQ9Ijc2IiB4PSIuNSIgeT0iLjUiIHN0cm9rZT0iI0UxRTFFMSIgcng9IjQiLz4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNiAxNikgdHJhbnNsYXRlKDEgMSkiPgogICAgICAgICAgICAgICAgICAgIDxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0iI0UxRTFFMSIgcng9IjkiLz4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSA4LjY4OEw3Ljg4IDExLjUgMTMgNi41Ii8+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo="
                                                alt="체크되지 않음"><span class="text"> 거래인증 리뷰</span>
                                        </li>
                                        <div class="sort-wrapper">
                                             <div 
                                                class="dropdown b-dropdown sort-dropdown btn-group"
                                                id="__BVID__1994"> <button aria-haspopup="true"
                                                aria-expanded="false" type="button"
                                                class="btn dropdown-toggle btn-link btn-sm dropdown-toggle-no-caret"
                                                id="__BVID__1994__BV_toggle_"><span 
                                                    class="current-sort">최신순</span></button>
                                            <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="__BVID__1994__BV_toggle_">
                                                <li  role="presentation" class="sort-item"><a
                                                        role="menuitem" href="#" target="_self"
                                                        class="dropdown-item active"> 최신순 </a></li>
                                                <li  role="presentation" class="sort-item"><a
                                                        role="menuitem" href="#" target="_self"
                                                        class="dropdown-item"> 별점 높은 순 </a></li>
                                                <li  role="presentation" class="sort-item"><a
                                                        role="menuitem" href="#" target="_self"
                                                        class="dropdown-item"> 별점 낮은 순 </a></li>
                                            </ul>
                                        </div> 
                                        </div>
                                    </ul> -->

                            <div class="comment-inner container2">
                                <div class="register flex-container">
                                    <div class="user-img"
                                        style="margin-right: 0px; background-image: url(&quot;https://ofbxchnhqinp910256.cdn.ntruss.com/160/f5b3297b50171cf00041efaa97e382d0.png?type=w&amp;w=160&amp;quality=100&quot;);">
                                    </div>
                                    <div class="register-box">
                                        <div class="register-box-inner">
                                            <input id="reply" type="text" placeholder="댓글">
                                        </div>
                                    </div>
                                    <button id="submit" type="button" disabled="disabled"
                                        class="post-btn flex-container mds-button mds-button--secondary mds-button--flex mds-button--h56 mds-button--r4">
                                        <span id="register">등록</span>
                                    </button>
                                </div>
                            </div>

                            <div>
                                <ul class="review-container">
                                    <li>
                                        <article class="profile-review-item">
                                            <section class="meta"><span class="author">❤️김**❤️</span>
                                                <div class="profile-review-item-badge"> </div>
                                            </section>
                                            <!-- <section class="service-score">
                                                        <p>왁싱</p><img
                                                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im03LjQ5NiAxLjU5NiAxLjQwNyAyLjc0MiAzLjE0NS40NGMuOTEuMTI3IDEuMjc1IDEuMjA0LjYxNSAxLjgyMmwtMi4yNzYgMi4xMzQuNTM4IDMuMDE1Yy4xNTUuODcyLS43OTcgMS41MzgtMS42MTIgMS4xMjZMNi41IDExLjQ1MmwtMi44MTMgMS40MjNjLS44MTUuNDEyLTEuNzY3LS4yNTQtMS42MTItMS4xMjZsLjUzOC0zLjAxNUwuMzM3IDYuNmMtLjY2LS42MTgtLjI5Ni0xLjY5NS42MTUtMS44MjJsMy4xNDUtLjQ0IDEuNDA3LTIuNzQyQzUuOTEyLjggNy4wODguOCA3LjQ5NiAxLjU5NiIgZmlsbD0iI0ZGQ0UyMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo="
                                                            alt="평점"> 5.0
                                                    </section> -->
                                            <div class="line-clamp collapsed">
                                                <div class="line-clamp"
                                                    style="line-height: 1.57; max-height: 4.71rem; -webkit-line-clamp: 3;">
                                                    <p class="review-text">응원합니다!!</p>
                                                </div>
                                            </div>
                                            <section class="review-footer">
                                                <div class="left"><span class="date">2023. 02.
                                                        05</span><span style="display: none;">·</span><button
                                                        type="button" class="btn btn-reply" style="display: none;">답변
                                                        달기</button></div>
                                            </section>
                                            <section></section>
                                        </article>
                                    </li>

                                    <li>
                                        <article class="profile-review-item">
                                            <section class="meta"><span class="author">❤️박**❤️</span>
                                                <div class="profile-review-item-badge"> </div>
                                            </section>
                                            <!-- <section class="service-score">
                                                        <p>왁싱</p><img
                                                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Im03LjQ5NiAxLjU5NiAxLjQwNyAyLjc0MiAzLjE0NS40NGMuOTEuMTI3IDEuMjc1IDEuMjA0LjYxNSAxLjgyMmwtMi4yNzYgMi4xMzQuNTM4IDMuMDE1Yy4xNTUuODcyLS43OTcgMS41MzgtMS42MTIgMS4xMjZMNi41IDExLjQ1MmwtMi44MTMgMS40MjNjLS44MTUuNDEyLTEuNzY3LS4yNTQtMS42MTItMS4xMjZsLjUzOC0zLjAxNUwuMzM3IDYuNmMtLjY2LS42MTgtLjI5Ni0xLjY5NS42MTUtMS44MjJsMy4xNDUtLjQ0IDEuNDA3LTIuNzQyQzUuOTEyLjggNy4wODguOCA3LjQ5NiAxLjU5NiIgZmlsbD0iI0ZGQ0UyMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo="
                                                            alt="평점"> 5.0
                                                    </section> -->
                                            <div class="line-clamp collapsed">
                                                <div class="line-clamp"
                                                    style="line-height: 1.57; max-height: 4.71rem; -webkit-line-clamp: 3;">
                                                    <p class="review-text">항상 감사합니다!!</p>
                                                </div>
                                            </div>
                                            <section class="review-footer">
                                                <div class="left"><span class="date">2023. 02.
                                                        05</span><span style="display: none;">·</span><button
                                                        type="button" class="btn btn-reply" style="display: none;">답변
                                                        달기</button></div>
                                            </section>
                                            <section></section>
                                        </article>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="flex-aside-right">
            <div class="product-controller">
                <section class="bread-crumbs no-space">
                    <ol class="page-breadcrumbs list-inline">
                        <h3 id="status"></h3>
                    </ol>
                </section>
                <section class="product-title">
                    <h3>{{ donation.donation_title }}</h3>
                </section>
                <section class="product-options">
                    <div class="bottom-sheet">
                        <div class="backdrop"></div>
                        <div class="modal-wrapper">
                            <div class="header" style="display: none;"><span class="title">선택한 가격을
                                    확인해주세요</span><img
                                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzMyMzIzMiIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTYuNDMuNDNsMS4xMzEgMS4xMzEtNy40MzQgNy40MzUgNy40MzQgNy40MzQtMS4xMzEgMS4xMzEtNy40MzUtNy40MzQtNy40MzQgNy40MzRMLjQzIDE2LjQzbDcuNDM0LTcuNDM0TC40MyAxLjU2MSAxLjU2MS40M2w3LjQzNCA3LjQzNEwxNi40My40M3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzcgLTExNCkgdHJhbnNsYXRlKDAgOTQpIHRyYW5zbGF0ZSgzMzcgMjApIi8+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=">
                            </div>
                            <div class="body">
                                <div class="option-sheet">
                                    <article class="option-tooltip">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgb3BhY2l0eT0iLjUiPgogICAgICAgICAgICA8cGF0aCBvcGFjaXR5PSIuMSIgZD0iTTAgMGgyMHYyMEgweiIvPgogICAgICAgICAgICA8Y2lyY2xlIG9wYWNpdHk9Ii40IiBjeD0iMTAiIGN5PSIxMCIgcj0iOC41Ii8+CiAgICAgICAgPC9nPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuNSAxLjUpIj4KICAgICAgICAgICAgPHJlY3QgZmlsbD0iIzMyMzIzMiIgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3IiByeD0iOC41Ii8+CiAgICAgICAgICAgIDxnIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSI+CiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNOC41IDguNjV2My4zMTdNOC41IDUuNDh2LjExNyIvPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K"
                                            alt="" class="icon"><span class="message">결제금액은 기부를
                                            후원합니다.</span>
                                    </article>
                                    <div tabindex="-1">
                                        <div class="item-option selected">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input"><label
                                                    class="custom-control-label" for="__BVID__1203">
                                                    <div class="option-title selected">
                                                        나도 기부 나눔하기 </div>
                                                </label>
                                            </div><strong class="option-price">{{ donation.donation_minimum_amount }} ~ </strong>
                                            <div class="collapsed clamped">
                                                <div class="line-clamp"
                                                    style="line-height: 1.5; max-height: 4.5rem; -webkit-line-clamp: 3;">
                                                    <p class="option-detail">{{ donation.donation_description }}</p>
                                                </div>
                                                <button type="button" class="btn collapse-toggle btn-none"><span>더
                                                        보기</span><img src="{% static 'img/icon-down.png' %}" alt=""
                                                        class="arrow"></button>
                                            </div>
                                        </div>
                                        <div data-testid="item-option no-selected" class="item-option">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input"><label
                                                    class="custom-control-label2" for="__BVID__1204">
                                                    <div class="option-title"> 나도 기부 응원하기
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <div data-testid="item-option no-selected" class="item-option">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"><label
                                                            class="custom-control-label2" for="__BVID__1205">
                                                            <div class="option-title"> 나도 캠페인 펀딩하기
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="buy-button">
                    <div class="sticky-btn-group"><button type="button" class="btn btn-qna2"
                            onclick="open_modal()"><span>문의</span></button><button type="button" class="btn btn-buy">
                            기부하기 </button>
                    </div>
                </section>
                <figure class="guarantee-banner"><img alt="숨고보증"
                        data-src="https://assets.cdn.soomgo.com/images/instant-purchase/img-guarantee-product.svg"
                        src="https://assets.cdn.soomgo.com/images/instant-purchase/img-guarantee-product.svg"
                        lazy="loaded">
                    <figcaption><strong>안심하세요 당신의 안전을 함께합니다</strong>
                        <p>안전은 우연이 아닙니다(AnonymousGuardian)</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>
</div>