{% load static %}

<body>
    <main role="main">
    {#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
            <section class="section hero">
                <div class="hero-inner">
                    <form role="search" class="search search-full" autocomplete="off" action="#" accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓" autocomplete="off">
                        <input type="search" name="query" id="query" placeholder="검색" autocomplete="off" aria-label="검색">
                    </form>
                </div>
            </section>
        <div class="container">
            <section class="section knowledge-base">
                <section class="categories blocks">
                    <ul class="blocks-list">
                        <li class="blocks-item">
                        <a href="#" class="blocks-item-link">
                            <img src="{% static 'img/faq001.png' %}" class="list-img">
                            <h4 class="blocks-item-title">캠페인 첫걸음</h4>
                            <p class="blocks-item-description"></p>
                        </a>
                        </li>
                        <li class="blocks-item">
                        <a href="#" class="blocks-item-link">
                            <img src="{% static 'img/faq002.png' %}" class="list-img">
                            <h4 class="blocks-item-title">펀딩 가이드</h4>
                            <p class="blocks-item-description"></p>
                        </a>
                        </li>
                        <li class="blocks-item">
                        <a href="#" class="blocks-item-link">
                            <img src="{% static 'img/faq003.png' %}" class="list-img">
                            <h4 class="blocks-item-title">기부 가이드</h4>
                            <p class="blocks-item-description"></p>
                        </a>
                        </li>
                        <li class="blocks-item">
                        <a href="/hc/ko/categories/360002081551-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD" class="blocks-item-link">
                            <img src="{% static 'img/faq004.png' %}" class="list-img">
                            <h4 class="blocks-item-title">공지사항</h4>
                            <p class="blocks-item-description"></p>
                        </a>
                        </li>
                    </ul>
                </section>
                <div class="featured-articles">
                    <p class="articles-title">★ 가장 많이 들어온 질문 (더 많은 질문들은 위에서 찾아주세요!)</p>
                    <div class="container">
                        <div class="row articles">
                            <div class="col-md-4">
                                <ul>
                                    <a href="#">
                                        <li>1. 어노니머스 가디언은 어떤 서비스인가요?</li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>2. 펀딩은 어떻게 하나요?</li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>3. 기부는 어떻게 하나요?</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <a href="#">
                                        <li>4. 캠페인은 어떻게 진행되나요? 새로운 캠페인 개설도 가능한가요?</li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>5. 이웃과 캠페인 활동을 하고 싶어요. 자격요건이 있나요?</li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>6. 펀딩을 하고 싶어요. 결제는 어떻게 이루어지나요?</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <a href="#">
                                        <li>7. 지역별 안전 수치는 어떻게 집계되나요?</li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>8. 아이디(이메일 주소), 비밀번호가 기억나지 않아요. </li>
                                    </a>
                                </ul>
                                <ul>
                                    <a href="#">
                                        <li>9. 캠페인 참여후기 말고 이용후기도 남길 수 있나요? </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
