<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "./__load002__.html" %}
  {% if request.session.session_key %}
    {% include "../../base/__script__.html" %}  
  {% else %}
    {% include "../../base/__loginscript__.html" %}  
  {% endif %}
  <title>{% block title %}{% endblock %}</title>
  {% include "./__style002__.html" %}
  {% block style %}{% endblock %}
</head>
<body>
  {% include "./__header002__.html" %}

      {% block content %}{% endblock %}

  {% include "./__footer002__.html" %}
  {% block script %}{% endblock %}
</body>
</html>