<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer002</title>
</head>
<body>
    <hr>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 about">
                    <div>
                        <a href="https://www.facebook.com/SoomgoKorea/" target="_blank">
                            <img src="https://soomgo.s3.ap-northeast-2.amazonaws.com/static/img/home/ico_footer_facebook1.png" class="social-ico" style="margin-right: 8px; margin-bottom: 16px; width: 30px;">
                        </a>
                        <a href="https://blog.naver.com/brave_mobile_mkt" target="_blank">
                            <img src="https://soomgo.s3.ap-northeast-2.amazonaws.com/static/img/home/ico_footer_blog1.png" class="social-ico" style="width: 30px; margin-bottom: 16px; ">
                        </a>
                    </div>
                    <p>(주)어노니머스 가디언(대표이사: 어노니머스 가디언)</p>
                    <p>사업자등록번호: 111-88-55555 개인정보책임관리자: 어노니머스 가디언</p>
                    <p>서울특별시 강남구 테헤란로</p>
                    <p>통신판매업신고증: 제 2023-서울강남-00000 호</p>
                    <p><a href="https://soomgo.com/terms/privacy">개인정보 취급방침</a> · <a href="https://soomgo.com/terms/usage">이용약관</a></p>
                    <p class="copy"><br>© AnonymousGuardian</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="row ">
                                <h4>가디언소개
                                    <div class="switch"></div>
                                </h4>
                                <ul class="menu hide">
                                    <li><a href="#">회사소개</a></li>
                                    <li><a href="#" target="_blank">안전정보</a></li>
                                    <li><a href="#" target="_blank">지역캠페인</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="row ">
                                <h4>서비스안내
                                    <div class="switch"></div>
                                </h4>
                                <ul class="menu hide">
                                    <li><a href="#">정보확인</a></li>
                                    <li><a href="#">캠페인</a></li>
                                    <li><a href="#">펀딩서비스</a></li>
                                    <li><a href="#">기부하기</a></li>
                                    <li><a href="#">후기작성</a></li>
                                    <li><a href="#">지역검색</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="row">
                                <h4>캠페인안내
                                    <div class="switch"></div>
                                </h4>
                                <ul class="menu hide">
                                    <li><a href="https://soomgo.com/how-soomgo-works">개설하기</a></li>
                                    <li><a href="https://soomgo.com/pro">참가하기</a></li>
                                    <li><a href="https://soomgo.com/pro-center">펀딩정보</a></li>
                                    <li><a href="https://soomgo.com/pro-center">기부내역</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <h4>도움이 필요하신가요?
                            <div class="switch"></div>
                        </h4>
                        <ul class="menu hide">
                            <li class="send-support-ticket">
                                <a class="send-support-ticket-btn" href="#">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                support@anonymousguardian.com
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </a>
                                <a href="tel:+821065451769">010-6545-1769</a>
                            </li>
                            <li>운영시간: 평일 오전 09시 - 오후 6시<br>(점심시간: 오후 12시 - 1시)<br>(연중무휴)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>