{% load static %}
<form action="" method="post">
    {% csrf_token %}
    <div class="web-body">
        <div class="community-container container">
            <div class="life-container">
                <section class="write-post-container">
                    <!-- 커뮤니티 선택 선택, 등록 -->
                    <div class="select-subject-header">
                        <div class="subject-header-wrapper">
                            <select
                                    class="post-subject-select-box custom-select sg-text-subhead3 sg-font-medium"
                                    id="__BVID__85">
                                <!-- 주제 종류 -->
                                <option value>카테고리&nbsp;선택&nbsp;</option>
                                <option value="patrol">지역순찰</option>
                                <option value="beautification">미화</option>
                                <option value="volunteer">봉사활동</option>
                                <option value="ets">기타</option>
                            </select>
                            <button type="submit" value="등록" class="btn btn-secondary write-post-submit">등록</button>
                        </div>
                    </div>
                    <!-- 사진 첨부 -->
                    <div class="attach-file-wrapper">
                        <div class="attach-file-area">
                            <!-- 카메라 사진 -->
                            <div class="add-image-icon"></div>
                            <!-- 사진 인풋 태그 -->
                            <div class="custom-file b-form-file file-input">
                                <input type="file" name="uploadFile"
                                       accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp,image/heic"
                                       multiple="multiple" class="custom-file-input" id="__BVID__1171"
                                       style="z-index: -5;">
                                <label data-browse="Browse" class="custom-file-label" for="__BVID__1171">
                                    <span class="d-block form-file-text"
                                          style="pointer-events: none;">No file chosen</span>
                                </label>
                            </div>
                            <span class="image-title">대표 이미지</span>
                        </div>
                    </div>

                    <!-- 글쓰기 -->
                    <div class="editor-body-container is-bottom-margin">
                        <div class="editor-body-wrapper">
                            <!-- 제목 -->
                            <div class="editor-title-wrapper">
                                <div class="editor-title-container">
                                    <label for="post-title-input" class="editor-title-label">
                                        <input id="post-title-input" type="text" name="campaign_review_title"
                                               placeholder="제목을 입력해주세요."
                                               class="post-title-input sg-text-subhead5 sg-font-medium sg-text-gray-900">
                                    </label>
                                </div>
                            </div>
                            <!-- 분단선 -->
                            <div class="divider-wrapper">
                                <hr class="hr-divider">
                            </div>
                            <!-- 서비스, 지역 선택 -->
                            <div class="service-region-wrapper">
                                <button class="category-select-box">
                                    <span class="text">(선택) 지역</span>
                                </button>
                            </div>
                            <!-- 분단선 -->
                            <div class="divider-wrapper">
                                <hr class="hr-divider">
                            </div>
                            <!-- 본문 -->
                            <main style="margin-top: 48px">
                                <div class="write-wrapper">
                                    <section class="content">

                                        <div>
                                            <div style="margin-bottom: 48px">
                                                <textarea id="image-tools" name="campaign_review_content"></textarea>
                                            </div>
                                            <span class="editor-contents-textarea-placeholder sg-text-body2 sg-font-regular sg-text-gray-500">
													주제에 맞지 않는 글이나 커뮤니티 이용정책에 위배되어 일정 수 이상 신고를 받는 경우 글이 숨김 및 삭제될 수 있습니다.
												</span>
                                        </div>
                                    </section>

                                </div>
                            </main>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>